.cke_ktag{
    height: 16px;
    width: 16px;
     background: url("../icons/tag.png") 0 0;
 }
.cke_kother {
    background: url("../icons/divers.png") 0 0;
}
.cke_kuser {
    background: url("../icons/utilisateur.png") 0 0;
}
.cke_kgroup {
    background: url("../icons/groupe-utilisateur.png") 0 0;
}
.cke_kcollab {
    background: url("../icons/espace-collaboratif.png") 0 0;
}
.cke_kcontrib {
    background: url("../icons/lien-contribution.png") 0 0;
}
.cke_kservice {
    background: url("../icons/application-tierce.png") 0 0;
}
.cke_krss {
    background: url("../icons/rss.png") 0 0;
}
.cke_kcart {
    background: url("../icons/panier.png") 0 0;
}
.cke_kdashboard {
    background: url("../icons/tableau-bord.png") 0 0;
}
.cke_knewsletter {
    background: url("../icons/messagerie.png") 0 0;
}
.cke_kform {
    background: url("../icons/form.png") 0 0;
}
.cke_kgallery {
    background: url("../icons/galerie-media.png") 0 0;
}
.cke_kcalendar {
    background: url("../icons/agenda.png") 0 0;
}

