html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.dominante {
  background-color: #3c5780; }

.complementaire {
  background-color: #efd979; }

.complementaire2 {
  background-color: #666666; }

body {
  background: #fff;
  color: #000;
  font: 500 0.75em/1.5 "arial", "helvetica", "sans-serif";
  position: relative; }

a {
  color: #007d9c; }
  a:hover {
    color: #0091b5; }
  a:focus {
    outline: 1px dotted; }

h1 {
  display: inline-block;
  font-size: 1.33333em;
  font-weight: 700;
  max-width: 50%; }

h2,
.h2 {
  border-bottom: 2px solid #e1e1e1;
  font-size: 1.5em;
  font-weight: 700;
  min-height: 1.5em;
  padding: 0 0 .5em; }

h3,
.h3 {
  border-bottom: 2px dotted;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 1.5em;
  padding: 0;
  position: relative; }

h4,
.h4 {
  font-size: 1.16667em; }

h5,
.h5 {
  font-size: 1em; }

h6,
.h6 {
  font-size: 1em; }

b,
strong {
  font-weight: 700; }

em {
  font-style: italic; }

acronym {
  cursor: help; }

::-moz-selection {
  background: #3c5780;
  color: #fff; }

::-webkit-selection {
  background: #3c5780;
  color: #fff; }

::selection {
  background: #3c5780;
  color: #fff; }

table {
  margin: 0 0 1.5em; }

caption {
  font-weight: 700;
  margin: .5em;
  text-align: center; }

tr:nth-child(even) {
  background: #f5f5f5; }

th {
  font-weight: 700;
  text-align: left;
  padding: .5em;
  vertical-align: top;
  border-bottom: 2px solid #999; }

td {
  padding: .5em;
  vertical-align: top; }

fieldset,
.fieldset {
  background: #f1f1f1;
  border: 2px solid #ededed;
  margin: 0 0 1.5em;
  padding: 2em 1em 1em; }

legend {
  background: #efd979;
  box-shadow: 2px 2px 0 #ab9535;
  color: #000;
  color: black;
  font-size: 1em;
  font-weight: 700;
  margin-left: -3em;
  min-width: 10em;
  padding: .5em 2em;
  position: relative; }
  legend:before {
    border-left: 10px solid transparent;
    border-top: 10px solid #ab9535;
    bottom: -10px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: -10; }

label,
.label {
  cursor: pointer;
  font-weight: 700;
  vertical-align: text-bottom; }

select,
.select {
  max-width: 60em; }

textarea,
iframe {
  vertical-align: top; }

textarea {
  width: 49.16667em;
  max-width: 100%; }

select,
textarea,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="password"],
input[type="text"],
input[readonly],
button,
.button {
  border: 2px solid #c2c2c2;
  font: 500 1em arial, helvetica, sans-serif;
  padding: .25em;
  text-decoration: none; }
  select:focus, select:active,
  textarea:focus,
  textarea:active,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[readonly]:focus,
  input[readonly]:active,
  button:focus,
  button:active,
  .button:focus,
  .button:active {
    border-color: darkorange; }

input[type="submit"],
input[type="reset"],
input[type="button"],
.submit,
.reset {
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700; }

input[type="checkbox"],
input[type="radio"] {
  margin-top: 0;
  margin-left: 0;
  vertical-align: baseline; }

button,
.button {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  display: inline-block; }

input[type="button"],
.button,
.button:hover {
  background-color: #0091b5;
  cursor: pointer; }

.button {
  color: #000; }
  .button:hover {
    color: #000; }

input[type="submit"],
.submit {
  background: #3f9c00; }

input[type="reset"],
.reset {
  background: orangered; }

input[readonly],
.readonly {
  background: #eee;
  color: inherit; }
  input[readonly]:focus, input[readonly]:active,
  .readonly:focus,
  .readonly:active {
    border-color: #999; }

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .2em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap; }

.masquer {
  display: none; }

.text-nowrap {
  white-space: nowrap; }

label.colonne,
.label.colonne {
  display: inline-block;
  line-height: 2em;
  width: 15em;
  vertical-align: top; }
  label.colonne.non-cliquable,
  .label.colonne.non-cliquable {
    cursor: default !important; }
  label.colonne.large,
  .label.colonne.large {
    width: 28em; }
  label.colonne + dd,
  .label.colonne + dd {
    display: inline-block;
    width: 49em; }

.boite {
  display: inline-block;
  padding: 0 1%;
  vertical-align: top;
  width: 47.8%; }
  .boite .colonne {
    width: 5em; }

.unique {
  width: 98%; }
  .unique .colonne {
    width: 7em; }

.retrait, form > p.retrait,
form fieldset > p.retrait,
form .fieldset > p.retrait,
form .col > p.retrait,
.content-deco > p.retrait,
.content-deco fieldset > p.retrait,
.content-deco .fieldset > p.retrait,
.content-deco .col > p.retrait {
  margin-left: 15em; }

form > p,
form fieldset > p,
form .fieldset > p,
form .col > p,
.content-deco > p,
.content-deco fieldset > p,
.content-deco .fieldset > p,
.content-deco .col > p {
  margin: 0 0 1.5em; }

.en_ligne {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 1.5em; }

[class*="_colonne"] > * {
  display: inline-block;
  vertical-align: top; }

.deux_colonne > * {
  width: 50%; }

.trois_colonne > * {
  width: 33.33333%; }

.quatre_colonne > * {
  width: 25%; }

#onglets {
  box-sizing: border-box;
  font-weight: 700;
  list-style-type: none;
  margin: 1.5em auto 0;
  max-width: 100em;
  padding: 0 1em;
  width: 100%; }
  #onglets a {
    color: inherit;
    text-decoration: none; }
  #onglets li {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em; }
    #onglets li:hover {
      background: #fff; }
    #onglets li.o_indispo {
      display: none; }
    #onglets li.active, #onglets li:active {
      background-color: #fff; }
  #onglets[data-ui] li {
    padding: 0; }
    #onglets[data-ui] li a {
      display: inline-block;
      padding: .5em 1em; }

.ktooltip {
  display: block;
  font-style: italic;
  font-weight: 300; }
  .ktooltip::before {
    background: #0091b5 url("/adminsite/images/help.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 1em;
    content: '';
    display: inline-block;
    height: 1em;
    margin-right: 0.25em;
    width: 1em; }

button.btn--as-link {
  background: none;
  color: #007d9c;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  display: inline;
  text-decoration: underline; }
  button.btn--as-link:hover, button.btn--as-link:focus {
    color: #0091b5; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: -999em; }

.tabs {
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .tabs > ul {
    margin: 1.5em auto 0; }
  .tabs .tabs__item {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em; }
  .tabs .tabs__link {
    padding: .5em 1em;
    text-decoration: none; }
    .tabs .tabs__link:focus {
      background: #fff;
      outline: 1px dotted #e1e1e1; }

.tabs--horizontal .tabs__item {
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-bottom: 0; }
.tabs--horizontal .tabs__item--active {
  background: #fff;
  margin-bottom: -1px; }

.tabs--vertical .tabs--item {
  display: block; }
.tabs--vertical .tabs__link {
  display: block;
  padding: .5em 1em;
  width: 100%; }
  .tabs--vertical .tabs__link:hover {
    background: #f2f2f2; }
.tabs--vertical .tabs__item--active {
  background: #f2f2f2; }
  .tabs--vertical .tabs__item--active .tabs__icon--normal {
    display: none; }
  .tabs--vertical .tabs__item--active .tabs__icon--highlight {
    display: block; }

.tabs__panel {
  display: none; }

.tabs__panel--active {
  display: block; }

.tabs__icon {
  display: inline-block;
  height: 24px;
  margin: 0 .5em 0 0;
  vertical-align: bottom;
  width: 24px; }
  .tabs__icon .tabs__icon--highlight {
    display: none; }

.components__ckeditor {
  margin-bottom: 1rem; }
  .components__ckeditor label.colonne, .components__ckeditor .label.colonne {
    width: auto; }

/*
 * Table
 */
table.dataTable span,
table.dataTable_like span {
  max-width: 10em; }
table.dataTable a.ellipsis,
table.dataTable_like a.ellipsis {
  max-width: 20em; }
table.dataTable a.long,
table.dataTable_like a.long {
  max-width: 40em; }
table.dataTable thead tr th,
table.dataTable_like thead tr th {
  border: 1px solid white;
  border-bottom: none; }
table.dataTable tbody tr.head:hover,
table.dataTable_like tbody tr.head:hover {
  outline: none; }

table.dataTable thead th,
table.dataTable_like thead th {
  border-bottom: 0;
  color: #000;
  color: rgba(0, 0, 0, 0.9);
  background: #efd979; }
  table.dataTable thead th:hover,
  table.dataTable_like thead th:hover {
    background-color: #e5cf6f; }

/*
 * Table wrapper
 */
/*
 * Page length menu
 */
/*
 * Filter
 */
/*
 * Table information
 */
.dataTables_info,
.dataTables_like_info {
  font-weight: 700; }

.DTTT_container .ui-button {
  margin-right: 0; }

/*
 * Pagination
 */
.dataTables_paginate.disabled {
  display: none; }

/* Two button pagination - previous / next */
/* Full number pagination */
.paging_full_numbers .ui-button {
  color: #0091b5 !important; }
  .paging_full_numbers .ui-button:hover {
    background: #0091b5;
    color: #fff !important; }

/*
 * Processing indicator
 */
.processing {
  height: 200px; }
  .processing .ui-toolbar {
    visibility: hidden; }

/*
 * Sorting
 */
/*
 * Scrolling
 */
.fg-toolbar .resume {
  display: inline-block;
  float: right; }
  .fg-toolbar .resume .dropdown-menu > ul > li {
    white-space: nowrap; }
  .fg-toolbar .resume .dropdown-menu a {
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    color: #0091b5; }

/*
 * Table
 */
table.dataTable,
table.dataTable_like {
  border: 1px solid #fff; }

table.dataTable tbody tr:hover,
table.dataTable_like tbody tr:hover {
  outline: 2px solid #efd979;
  cursor: default; }
  table.dataTable tbody tr:hover td,
  table.dataTable tbody tr:hover td.sorting_1,
  table.dataTable_like tbody tr:hover td,
  table.dataTable_like tbody tr:hover td.sorting_1 {
    background-color: #fff; }

table.dataTable thead th,
table.dataTable_like thead th {
  padding: .75em 0 .75em 10px; }

table.dataTable td,
table.dataTable_like td {
  padding: .75em 10px !important; }

table.dataTable tr.odd,
table.dataTable_like tr.odd {
  background-color: #e6e6e6; }

table.dataTable tr.even,
table.dataTable_like tr.even {
  background-color: #f2f2f2; }

table.dataTable tr.odd td.sorting_1,
table.dataTable_like tr.odd td.sorting_1 {
  background-color: #d9d9d9; }

table.dataTable tr.even td.sorting_1,
table.dataTable_like tr.even td.sorting_1 {
  background-color: #e6e6e6; }

/*
 * Table wrapper
 */
.dataTables_wrapper {
  margin-bottom: 1em; }

.dataTables_wrapper .ui-toolbar {
  padding: 5px 0; }

/*
 * Page length menu
 */
/*
 * Filter
 */
/*
 * Table information
 */
/*
 * Pagination
 */
/* Two button pagination - previous / next */
/* Full number pagination */
/*
 * Processing indicator
 */
/*
 * Sorting
 */
/*
 * Scrolling
 */
.ui-widget-overlay {
  background: #000;
  opacity: .6;
  z-index: 10000; }

/*
 * Popins
 */
.ui-dialog-titlebar-back {
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px; }
  .ui-dialog-titlebar-back .ui-icon {
    left: 0; }

hr {
  margin: 1.5em; }

p {
  margin: 0 0 1.5em; }

textarea {
  width: auto; }

label.colonne, .label.colonne {
  width: 11em; }

p.alert {
  margin-bottom: 1em;
  padding: .5em; }

.infobulle {
  background: url("/adminsite/images/help.png") 50% 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom;
  cursor: default; }

.boite {
  padding: 0 .5em 0 0; }
  .boite .colonne {
    width: 11em; }

.tabs--horizontal > ul {
  border-bottom: 2px solid #e5e5e5; }
.tabs--horizontal .tabs__item {
  border: 2px solid #e5e5e5;
  position: relative;
  bottom: -2px; }

.tabs.tabs--vertical {
  border-right: 1px solid #f2f2f2;
  bottom: 4em;
  display: inline-block;
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 10; }

.tabs--vertical .tabs__panel {
  height: 81%;
  overflow-y: auto;
  padding: 0 .25em;
  vertical-align: top;
  width: 100%; }
.tabs--vertical .tabs__item {
  background: transparent;
  display: block;
  margin: 0;
  padding: 0; }
.tabs--vertical .tabs__item--active {
  background: #f2f2f2;
  position: relative; }
.tabs--vertical .tabs__link {
  box-sizing: border-box; }

.link-editor {
  background: #fff;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 1.5em 1em 0 20.5em;
  width: 100%; }

.list__edition-panel,
.link__edition-panel {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 25%;
  padding: 0 1em;
  vertical-align: top;
  width: 75%; }

.link__edition-panel {
  height: 40em;
  overflow-y: auto; }

.plier-deplier {
  position: relative;
  padding: 0 0 1em; }

.plier-deplier__bouton {
  position: absolute;
  top: -1em;
  margin: 0; }

.plier-deplier__contenu {
  padding: 1.5em 0 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.plier-deplier__contenu--clos {
  display: none; }

.request-iframe,
.rss-iframe {
  height: 32.7em;
  width: 100%; }

.klist-iframe {
  height: 41.5em;
  width: 100%; }

.media-iframe {
  height: 34.7em;
  width: 100%; }

.tags-iframe {
  height: 45em;
  width: 100%; }

table.dataTable.dynamicDataTable tr.row--selected {
  outline: 2px solid #efd979; }
  table.dataTable.dynamicDataTable tr.row--selected td {
    background: #fff; }
table.dataTable.dynamicDataTable tr:hover {
  cursor: pointer; }

.button--neutral {
  background: #fff; }
  .button--neutral > .icon {
    color: #007D9C; }

.kimage__parameters,
.kflash__parameters,
.kflipbook__parameters {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33%; }

.kflipbook__parameters input[type="number"] {
  border: 2px solid #c2c2c2;
  padding: .25em;
  width: 8em; }

.kimage__parameters-size {
  position: absolute;
  right: 3em;
  top: 2em; }

.kimage__preview,
.kvideo__preview,
.kaudio__preview,
.kflash__preview,
.kflipbook__preview {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  max-height: 30em;
  overflow: auto;
  padding: 1em;
  width: 100%; }

.kimage__preview,
.kflash__preview,
.kflipbook__preview {
  width: 66%; }

.kimage__preview > img {
  border: 0 solid #000;
  box-sizing: content-box; }

.filtre {
  float: right;
  margin: 0 0 1em; }

.kmultiselect-ltl, .kmultiselect-ttl {
  vertical-align: top;
  width: 40em; }
  .kmultiselect-ltl .parent-list-label, .kmultiselect-ttl .parent-list-label {
    max-width: 80%; }
  .kmultiselect-ltl .composition-list-label, .kmultiselect-ttl .composition-list-label {
    max-width: 70% !important; }

.kmultiselect-ttl .k-multiselect-composition {
  width: 100%; }

.retrait, form > p.retrait,
form fieldset > p.retrait,
form .fieldset > p.retrait,
form .col > p.retrait,
.content-deco > p.retrait,
.content-deco fieldset > p.retrait,
.content-deco .fieldset > p.retrait,
.content-deco .col > p.retrait {
  margin-left: 11em; }

[data-panel="internal-fiche"] .dataTables_wrapper > .fg-toolbar:first-child {
  display: none; }

.section-choice--width {
  max-width: 15em; }
