@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.dominante {
  background-color: #3c5780; }

.complementaire {
  background-color: #efd979; }

.complementaire2 {
  background-color: #666666; }

body {
  background: #fff;
  color: #000;
  font: 500 0.75em/1.5 "arial", "helvetica", "sans-serif";
  position: relative; }

a {
  color: #007d9c; }
  a:hover {
    color: #0091b5; }
  a:focus {
    outline: 1px dotted; }

h1 {
  display: inline-block;
  font-size: 1.33333em;
  font-weight: 700;
  max-width: 50%; }

h2,
.h2 {
  border-bottom: 2px solid #e1e1e1;
  font-size: 1.5em;
  font-weight: 700;
  min-height: 1.5em;
  padding: 0 0 .5em; }

h3,
.h3 {
  border-bottom: 2px dotted;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 1.5em;
  padding: 0;
  position: relative; }

h4,
.h4 {
  font-size: 1.16667em; }

h5,
.h5 {
  font-size: 1em; }

h6,
.h6 {
  font-size: 1em; }

b,
strong {
  font-weight: 700; }

em {
  font-style: italic; }

acronym {
  cursor: help; }

::-moz-selection {
  background: #3c5780;
  color: #fff; }

::-webkit-selection {
  background: #3c5780;
  color: #fff; }

::selection {
  background: #3c5780;
  color: #fff; }

table {
  margin: 0 0 1.5em; }

caption {
  font-weight: 700;
  margin: .5em;
  text-align: center; }

tr:nth-child(even) {
  background: #f5f5f5; }

th {
  font-weight: 700;
  text-align: left;
  padding: .5em;
  vertical-align: top;
  border-bottom: 2px solid #999; }

td {
  padding: .5em;
  vertical-align: top; }

fieldset,
.fieldset {
  background: #f1f1f1;
  border: 2px solid #ededed;
  margin: 0 0 1.5em;
  padding: 2em 1em 1em; }

legend {
  background: #efd979;
  box-shadow: 2px 2px 0 #ab9535;
  color: #000;
  color: black;
  font-size: 1em;
  font-weight: 700;
  margin-left: -3em;
  min-width: 10em;
  padding: .5em 2em;
  position: relative; }
  legend:before {
    border-left: 10px solid transparent;
    border-top: 10px solid #ab9535;
    bottom: -10px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: -10; }

label,
.label {
  cursor: pointer;
  font-weight: 700;
  vertical-align: text-bottom; }

select,
.select {
  max-width: 60em; }

textarea,
iframe {
  vertical-align: top; }

textarea {
  width: 49.16667em;
  max-width: 100%; }

select,
textarea,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="password"],
input[type="text"],
input[readonly],
button,
.button {
  border: 2px solid #c2c2c2;
  font: 500 1em arial, helvetica, sans-serif;
  padding: .25em;
  text-decoration: none; }
  select:focus, select:active,
  textarea:focus,
  textarea:active,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[readonly]:focus,
  input[readonly]:active,
  button:focus,
  button:active,
  .button:focus,
  .button:active {
    border-color: darkorange; }

input[type="submit"],
input[type="reset"],
input[type="button"],
.submit,
.reset {
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700; }

input[type="checkbox"],
input[type="radio"] {
  margin-top: 0;
  margin-left: 0;
  vertical-align: baseline; }

button,
.button {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  display: inline-block; }

input[type="button"],
.button,
.button:hover {
  background-color: #0091b5;
  cursor: pointer; }

.button {
  color: #000; }
  .button:hover {
    color: #000; }

input[type="submit"],
.submit {
  background: #3f9c00; }

input[type="reset"],
.reset {
  background: orangered; }

input[readonly],
.readonly {
  background: #eee;
  color: inherit; }
  input[readonly]:focus, input[readonly]:active,
  .readonly:focus,
  .readonly:active {
    border-color: #999; }

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .2em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap; }

.masquer {
  display: none; }

.text-nowrap {
  white-space: nowrap; }

/*
 * Clearfix simple V4
 * Issu du clearfix de Nicolas Gallagher :
 * @doc : http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * @note : Suppression des propriétés spécifiques IE6/7 du fichier original
 */
.layout.container-grid.container:before, .layout.container-grid .row:before, .layout.container-grid .row--full:before {
  content: " ";
  display: table; }
.layout.container-grid.container:after, .layout.container-grid .row:after, .layout.container-grid .row--full:after {
  clear: both;
  content: " ";
  display: table; }

label.colonne,
.label.colonne {
  display: inline-block;
  line-height: 2em;
  width: 15em;
  vertical-align: top; }
  label.colonne.non-cliquable,
  .label.colonne.non-cliquable {
    cursor: default !important; }
  label.colonne.large,
  .label.colonne.large {
    width: 28em; }
  label.colonne + dd,
  .label.colonne + dd {
    display: inline-block;
    width: 49em; }

.boite {
  display: inline-block;
  padding: 0 1%;
  vertical-align: top;
  width: 47.8%; }
  .boite .colonne {
    width: 5em; }

.unique {
  width: 98%; }
  .unique .colonne {
    width: 7em; }

.retrait, form > p.retrait,
form fieldset > p.retrait,
form .fieldset > p.retrait,
form .col > p.retrait,
.content-deco > p.retrait,
.content-deco fieldset > p.retrait,
.content-deco .fieldset > p.retrait,
.content-deco .col > p.retrait {
  margin-left: 15em; }

form > p,
form fieldset > p,
form .fieldset > p,
form .col > p,
.content-deco > p,
.content-deco fieldset > p,
.content-deco .fieldset > p,
.content-deco .col > p {
  margin: 0 0 1.5em; }

.en_ligne {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 1.5em; }

[class*="_colonne"] > * {
  display: inline-block;
  vertical-align: top; }

.deux_colonne > * {
  width: 50%; }

.trois_colonne > * {
  width: 33.33333%; }

.quatre_colonne > * {
  width: 25%; }

.liste__horizontale, .liste__horizontale--item, #fonctionnalites > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1; }

.liste__horizontale {
  vertical-align: top;
  width: 60.66667em; }

.liste__horizontale--2 > li {
  width: 50%; }

.liste__horizontale--3 > li {
  width: 33%; }

.liste__horizontale--4 > li {
  width: 25%; }

.titre_tableau {
  border: 0;
  font-size: 1.08333em;
  font-weight: 700;
  margin: 0 0 .5em; }

.message {
  font-weight: 700;
  padding: .5em;
  line-height: 2em; }

.information,
.avertissement {
  background: #bfdcea; }

.erreur {
  background: #fce5e5;
  background: #ffb2b3; }

.alerte {
  background: #ffe994; }

.confirmation {
  background: #c6ef88; }

.etat {
  white-space: nowrap; }
  .etat span {
    -moz-border-radius: 1em 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em 1em;
    display: inline-block;
    margin-left: 0;
    margin-right: .25em;
    position: relative;
    width: 1.2em;
    height: 1.2em; }
  .etat .brouillon {
    background-color: #ff9d11; }
    .etat .brouillon:before {
      border-top-color: #bb4800; }
  .etat .avalider {
    background-color: #78de33; }
    .etat .avalider:before {
      border-top-color: #016700; }
  .etat .enligne {
    background-color: #45ab00; }
    .etat .enligne:before {
      border-top-color: #016700; }
  .etat .asupprimer {
    background-color: #ee3400; }
    .etat .asupprimer:before {
      border-top-color: #bb0100; }
  .etat .apercu {
    background-color: #ff6600; }
    .etat .apercu:before {
      border-top-color: #bb2200; }
  .etat .sauvegardeautomatique {
    background-color: #0091b5; }
    .etat .sauvegardeautomatique:before {
      border-top-color: #004d71; }
  .etat .archive {
    background-color: #9b7c00; }
    .etat .archive:before {
      border-top-color: #573800; }

table .enligne:before,
table .brouillon:before,
table .sauvegardeautomatique:before,
table .archive:before,
table .asupprimer:before,
table .avalider:before,
table .apercu:before {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  content: "";
  display: inline-block;
  height: .75em;
  margin: 0 .25em 0 0;
  vertical-align: middle;
  width: .75em; }
table .brouillon:before {
  background: #ff9d11; }
table .avalider:before {
  background: #78de33; }
table .enligne:before {
  background: #45ab00; }
table .asupprimer:before {
  background: #ee3400; }
table .apercu:before {
  background: #ff6600; }
table .sauvegardeautomatique:before {
  background: #0091b5; }
table .archive:before {
  background: #9b7c00; }
table .nombre {
  text-align: right; }
table.publicsVises__restrictions {
  background: transparent; }
  table.publicsVises__restrictions tr {
    background: transparent; }
  table.publicsVises__restrictions th {
    border: 0;
    font-size: 1.08333em; }
  table.publicsVises__restrictions td {
    padding: .25em .5em; }
    table.publicsVises__restrictions td:first-child {
      display: inline-block;
      overflow: hidden;
      padding: .25em 3em .25em .5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 30em; }
  table.publicsVises__restrictions span {
    font-size: 2em;
    line-height: .5;
    vertical-align: middle; }
  table.publicsVises__restrictions .retrait_1 {
    padding-left: 1em; }
  table.publicsVises__restrictions .retrait_2 {
    padding-left: 2em; }
  table.publicsVises__restrictions .retrait_3 {
    padding-left: 3em; }
  table.publicsVises__restrictions .retrait_4 {
    padding-left: 4em; }
  table.publicsVises__restrictions .retrait_5 {
    padding-left: 5em; }
  table.publicsVises__restrictions .retrait_6 {
    padding-left: 6em; }
  table.publicsVises__restrictions .retrait_7 {
    padding-left: 7em; }
  table.publicsVises__restrictions .retrait_8 {
    padding-left: 8em; }
  table.publicsVises__restrictions .retrait_9 {
    padding-left: 9em; }
  table.publicsVises__restrictions .retrait_10 {
    padding-left: 10em; }
  table.publicsVises__restrictions .retrait_11 {
    padding-left: 11em; }
  table.publicsVises__restrictions .retrait_12 {
    padding-left: 12em; }
  table.publicsVises__restrictions .retrait_13 {
    padding-left: 13em; }
  table.publicsVises__restrictions .retrait_14 {
    padding-left: 14em; }
  table.publicsVises__restrictions .retrait_15 {
    padding-left: 15em; }
  table.publicsVises__restrictions .retrait_16 {
    padding-left: 16em; }
  table.publicsVises__restrictions .retrait_17 {
    padding-left: 17em; }
  table.publicsVises__restrictions .retrait_18 {
    padding-left: 18em; }
  table.publicsVises__restrictions .retrait_19 {
    padding-left: 19em; }
  table.publicsVises__restrictions .retrait_20 {
    padding-left: 20em; }

#div-diffusion h3 {
  margin: 0 0 .5em; }

.ellipsis, .riche a, table.dataTable span,
table.dataTable_like span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.cartouche, #content.accueil h3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  border: 0;
  padding: .25em 1em; }
  .cartouche:after, #content.accueil h3:after {
    border-color: #eee #fff #fff;
    border-style: solid solid none;
    border-width: 8px 10px 0;
    top: 30px;
    content: "";
    font-size: 0;
    left: 24px;
    line-height: 0;
    margin: 0 0 0 -10px;
    position: absolute;
    width: 0; }

#dialogRefuser {
  display: none; }

button,
.button {
  background: no-repeat 0.5em 50%;
  padding: .25em .5em .25em 2em; }
  button.dropdown-toggle,
  .button.dropdown-toggle {
    background: #eee no-repeat 96% 50%;
    padding: .25em 2em .25em .5em; }
  button:hover,
  .button:hover {
    background-color: #eee; }
  button.neutre,
  .button.neutre {
    background: transparent no-repeat .25em 50%;
    color: inherit;
    padding-left: .5em; }
  button.traduction,
  .button.traduction {
    background-image: url(img/16x16/traduire.png); }
  button.dupliquer,
  .button.dupliquer {
    background-image: url(img/16x16/dupliquer.png); }
  button.archiver,
  .button.archiver {
    background-image: url(img/16x16/archiver.png); }
  button.enregistrer,
  .button.enregistrer {
    background-image: url(img/16x16/enregistrer.png); }
  button.publier,
  .button.publier {
    background-image: url(img/16x16/publier.png); }
  button.brouillon,
  .button.brouillon {
    background-image: url(img/16x16/brouillon.png); }
  button.supprimer,
  .button.supprimer {
    background-image: url(img/16x16/supprimer.png); }
  button.modifier,
  .button.modifier {
    background-image: url(img/16x16/modifier.png); }
  button.apercu,
  .button.apercu {
    background-image: url(img/16x16/apercu.png); }
  button.refuser,
  .button.refuser {
    background-image: url(img/16x16/refuser.png); }
  button.arborescence,
  .button.arborescence {
    background-image: url(img/16x16/arborescence.png); }
  button.archiver,
  .button.archiver {
    background-image: url(img/16x16/archiver.png); }
  button.derouler,
  .button.derouler {
    background-image: url(img/16x16/derouler.png); }
  button.dupliquer,
  .button.dupliquer {
    background-image: url(img/16x16/dupliquer.png); }
  button.enregistrer,
  .button.enregistrer {
    background-image: url(img/16x16/enregistrer.png); }
  button.envoyer,
  .button.envoyer {
    background-image: url(img/16x16/envoyer.png); }
  button.importer,
  .button.importer {
    background-image: url(img/16x16/importer.png); }
  button.exporter,
  .button.exporter {
    background-image: url(img/16x16/exporter.png); }
  button.plus,
  .button.plus {
    background-image: url(img/16x16/plus.png); }
  button.recharger,
  .button.recharger {
    background-image: url(img/16x16/recharger.png); }
  button.rechercher,
  .button.rechercher {
    background-image: url(img/16x16/rechercher.png); }
  button.restaurer,
  .button.restaurer {
    background-image: url(img/16x16/restaurer.png); }
  button.sauvegarder,
  .button.sauvegarder {
    background-image: url(img/16x16/sauvegarder.png); }
  button.supprimer,
  .button.supprimer {
    background-image: url(img/16x16/supprimer.png); }
  button.telecharger,
  .button.telecharger {
    background-image: url(img/16x16/telecharger.png); }
  button.traduire,
  .button.traduire {
    background-image: url(img/16x16/traduire.png); }
  button.valider, button.off,
  .button.valider,
  .button.off {
    background-image: url(img/16x16/valider.png); }
  button.on,
  .button.on {
    background-image: url(img/16x16/off.png); }
  button.parametrer,
  .button.parametrer {
    background-image: url(img/16x16/parametrer.png); }
  button.verrou,
  .button.verrou {
    background-image: url(img/16x16/cadenas.png); }
  button.retour,
  .button.retour {
    background-image: url(img/16x16/retour.png); }
  button.telecharger,
  .button.telecharger {
    background-image: url(img/16x16/telecharger.png); }
  button.changer,
  .button.changer {
    background-image: url(img/16x16/changer.png); }
  button.plier, button.deplier, button.derouler, button.dropdown-toggle,
  .button.plier,
  .button.deplier,
  .button.derouler,
  .button.dropdown-toggle {
    background-image: url(img/16x16/derouler.png); }

.button--content {
  background: inherit;
  background-color: #0091b5;
  color: #fff;
  cursor: pointer;
  margin: .25em;
  padding: .25em; }
  .button--content:hover {
    background-color: #0091b5;
    cursor: pointer; }

.fieldset_titre {
  border-bottom: 2px solid #ddd;
  font: 700 1.16667em arial, helvetica, sans-serif;
  margin: 0 0 1em;
  padding: 0 0 .25em; }

.neutre {
  background: transparent;
  border-color: transparent; }

.validation {
  margin: 2em 0;
  padding: 1em 1em 1em 20%;
  border-top: 2px dotted #d9d9d9; }
  .validation a {
    display: inline-block;
    font-weight: 700;
    margin: 0 0 0 1em; }

.filtre {
  text-align: right;
  margin: .5em .05em 1.5em; }

#recherche_criteres h3 {
  background: #eee;
  border: 0;
  font-size: 1.16667em;
  margin: 0;
  border: solid #ddd;
  border-width: 1px 1px 0;
  margin-bottom: -1px;
  padding: .25em 1.42857em 0;
  display: inline-block; }
#recherche_criteres > div {
  background: #eee;
  border: 1px solid #ddd;
  padding: 1.5em;
  margin: 0 0 2em; }
#recherche_criteres li {
  display: inline-block;
  margin: 1em .75% 0;
  vertical-align: top;
  width: 48.5%; }
  #recherche_criteres li:first-child, #recherche_criteres li:first-child + li {
    border-top: 0;
    margin-top: 0; }
  #recherche_criteres li strong {
    display: block;
    padding: 0 0 .08333em;
    margin: 0 0 .08333em;
    text-indent: -1em; }
    #recherche_criteres li strong:before {
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      background: #fff;
      border: 1px solid #666;
      content: "";
      display: inline-block;
      height: 0.75em;
      margin: 0 0.25em 0 0;
      vertical-align: middle;
      width: 0.75em; }
#recherche_criteres p {
  text-align: right;
  font-weight: 700;
  margin: 0; }
  #recherche_criteres p a {
    background: #fff;
    border: 1px solid;
    padding: 0.5em;
    text-decoration: none; }

#bulletin_info .riche a {
  max-width: 85%; }

.riche {
  margin: 0 0 1.5em; }
  .riche li {
    border-top: 2px dotted #ddd;
    overflow: hidden;
    padding: .5em 0; }
    .riche li:first-child {
      border: 0;
      padding-top: 0; }
  .riche .drapeau {
    float: left;
    margin: 0.16667em 0.5em 0 0; }
  .riche .etat span {
    height: 0.75em;
    width: 0.75em; }
  .riche a {
    float: left;
    font-weight: 700;
    max-width: 70%;
    text-decoration: none; }
    .riche a:hover {
      text-decoration: underline; }
  .riche .type,
  .riche .date {
    color: #666;
    float: right;
    max-width: 35%;
    text-align: right;
    white-space: nowrap; }

.col {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

#repeter_le {
  margin: 0 0 1.5em; }
  #repeter_le ul {
    display: inline-block;
    position: absolute;
    vertical-align: top; }
  #repeter_le li {
    display: inline-block;
    margin: 0 1em 0 0; }

#recurrence_fin > div {
  display: inline-block;
  vertical-align: top; }
#recurrence_fin p {
  margin: 0 0 1.5em; }

#onglets {
  box-sizing: border-box;
  font-weight: 700;
  list-style-type: none;
  margin: 1.5em auto 0;
  max-width: 100em;
  padding: 0 1em;
  width: 100%; }
  #onglets a {
    color: inherit;
    text-decoration: none; }
  #onglets li {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em; }
    #onglets li:hover {
      background: #fff; }
    #onglets li.o_indispo {
      display: none; }
    #onglets li.active, #onglets li:active {
      background-color: #fff; }
  #onglets[data-ui] li {
    padding: 0; }
    #onglets[data-ui] li a {
      display: inline-block;
      padding: .5em 1em; }

.ktooltip {
  display: block;
  font-style: italic;
  font-weight: 300; }
  .ktooltip::before {
    background: #0091b5 url("/adminsite/images/help.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 1em;
    content: '';
    display: inline-block;
    height: 1em;
    margin-right: 0.25em;
    width: 1em; }

button.btn--as-link {
  background: none;
  color: #007d9c;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  display: inline;
  text-decoration: underline; }
  button.btn--as-link:hover, button.btn--as-link:focus {
    color: #0091b5; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: -999em; }

/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2); }
  .dropdown-menu.left:before, .dropdown-menu.right:before {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px; }
  .dropdown-menu.right:before {
    left: auto;
    right: 10px; }
  .dropdown-menu > li {
    border-top: 1px solid #eee; }
    .dropdown-menu > li:first-child {
      border-top: 0; }

.dropdown-menu > li > a {
  color: #007d9c;
  text-decoration: none; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: underline;
  color: #007d9c;
  background: none transparent; }

.label.label-info {
  background-color: #3A87AD;
  cursor: inherit;
  font-weight: normal;
  padding: 0.25em;
  vertical-align: inherit; }

.bootstrap-tagsinput {
  max-width: 61.5833em; }

.fichier_simple {
  margin: 0 0 1.5em; }
  .fichier_simple > .fileupload {
    display: inline-block; }

/***
 * Grille de mise en page _responsive et mobile first_:
 * La grille est composée de **12 colonnes** disponibles
 * sur cinq dimensions d’écran. Elle permet de créer des mises
 * en page différentes selon le type de terminal qui consulte
 * le service.
 *
 * <div class="msg msg--success text--warn">
 * <div class="msg__title">À noter</div>
 * <div class="msg__content">Les classes propres à la grille sont à attacher
 * sans aucune surchage de styles et sur des éléments
 * sémantiquement neutres (`div, span`) et n’utilisant
 * pas d’autres classes du guide des styles.
 * </div>
 * </div>
 *
 *
 */
.layout.container-grid {
  /**
   * Rangées et colonnes :
   * Une mise en page et un ensemble de rangées et de colonnes.
   *
   * `.row` - Un conteneur neutre pour créer
   * des rangées de la grille.
   * Cet élément ne peut contenir d’autre
   * choses que des éléments de la grille
   * de mise en page (`.col--xx-x`).
   * `.col--xx-x` - Une colonne.
   *
   *
   *     @example
   *     .container
   *      .row
   *      | Une <i>rangée</i>
   *
   */
  /**
   * Colonne :
   * **`.col--$disponibilite-$repartition`** : Une colonne. La nomenclature
   * d’une colonne est composée de la manière suivante :
   *
   *
   * **Disponibilite**
   *
   *
   * La dimension de disponibilité de la colonne. La classe se déclenche à partir
   * d’un certaine dimension et va jusqu’à ∞. Les valeurs possibles sont
   * `xs, sm, md, lg, xl`, chacune de ces valeurs représentant un point de rupture.
   *
   * **Les points de rupture**
   *
   *
   * * **xs** : Extra-small. 0 à <544px. Mobile vertical.
   * * **sm** : ≥544px. Phablets ou mobile horizontal.
   * * **md** : ≥768px. Tablette verticale ou _phablet_ horizontale.
   * * **lg** : ≥992px. Ordinateur de bureau standard ou tablette horizontale.
   * * **xl** : ≥1200px. Pour les heureux pocesseurs d’écran aux proportions généreuses.
   *
   * **Répartition**<br>
   * La répartition représente le nombre de colonnes que va occuper
   * le bloc sur la grille, de 1 à 8. Cette valeur représente une proportion de
   * la largeur totale disponible.
   *
   *
   * Ex. Un élément qui porte la classe `.col--xs | sm | md | lg | xl-6` est
   * en réalité un élément qui fait 50% de son élément parent sur les différents
   * points de rupture.
   *
   *
   *
   *     @example.panel
   *     .container
   *      h3 Dimensions des colonnes
   *      .row
   *       .col--xs-1
   *          .panel.panel--outlined.text--center 1
   *       .col--xs-11
   *          .panel.panel--outlined.text--center 11
   *      .row
   *       .col--xs-2
   *          .panel.panel--outlined.text--center 2
   *       .col--xs-10
   *          .panel.panel--outlined.text--center 10
   *      .row
   *       .col--xs-3
   *          .panel.panel--outlined.text--center 3
   *       .col--xs-9
   *          .panel.panel--outlined.text--center 9
   *      .row
   *       .col--xs-4
   *          .panel.panel--outlined.text--center 4
   *       .col--xs-8
   *          .panel.panel--outlined.text--center 8
   *      .row
   *       .col--xs-5
   *          .panel.panel--outlined.text--center 5
   *       .col--xs-7
   *          .panel.panel--outlined.text--center 7
   *      .row
   *       .col--xs-6
   *          .panel.panel--outlined.text--center 6
   *       .col--xs-6
   *          .panel.panel--outlined.text--center 6
   *      .row
   *       .col--xs-12
   *          .panel.panel--outlined.text--center 12
   *
   *      h3 Exemple de grille disponibles de 0 à ∞
   *      .row
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *
   *      h3 Exemple de grille disponible à partir de 544px (Phablet ou mobile horizontal)
   *      .row
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *
   *      h3 Grille disponible à partir de 992px
   *      .row
   *       .col--lg-6
   *          .panel.panel--outlined.text--center .col--lg-6
   *       .col--lg-6
   *          .panel.panel--outlined.text--center .col--lg-6
   *
   *
   */
  /**
   * Grilles imbriquées :
   * `.row` : Il est nécessaire d’insérer un `div.row` à chaque niveau d’imbrication
   *
   * **Colonnes responsives**<br>
   *
   * Les classes des colonnes peuvent être cumulées pour fournir
   * des répartitions variables selon la dimension de l’écran.
   * Par exemple proposer un bloc de huit colonnes (100%) sur un mobile
   * qui devient un bloc de quatre colonnes sur un ordinateur de bureau. Ex. `div.col--xs-8.col--lg-4`
   *
   *
   * **Les classes sont à ordonner selon l’ordre logique des points de rupture.**
   *
   * Les colonnes peuvent être imbriquées. Cett imbrication passera forcément par l’ajout d’un élément `.row` afin d’y insérer
   * les colonnes descendantes.
   *
   *     @example
   *     .container
   *       .row
   *        .col--lg-6.col--xl-12
   *          .panel.panel--outlined
   *            h4.panel__title--sm Un bloc ici
   *            .row
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="nom_grille_imbriquee") Votre nom
   *                   input.form__control(id="nom_grille_imbriquee", placeholder="Ex. Dupont", type="text")
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="prenom_grille_imbriquee") Votre Prénom
   *                   input.form__control(id="prenom_grille_imbriquee", placeholder="Ex. Euthanagor", type="text")
   *        .col--lg-6.col--xl-12
   *          .panel.panel--outlined
   *            h4.panel__title--sm Un bloc ici
   *            .row
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="nom_grille_imbriquee2") Votre nom
   *                   input.form__control(id="nom_grille_imbriquee2", placeholder="Ex. Duchamp", type="text")
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="prenom_grille_imbriquee2") Votre Prénom
   *                   input.form__control(id="prenom_grille_imbriquee2", placeholder="Ex. Gweltaz", type="text")
   *
   */
  /**
   * Grille sans gouttière :
   * `.row--full, .col--full` : Pour la rangée et les colonnes.
   *
   *
   *     @example.light
   *     .container
   *        .row.row--full
   *          .col--xs-12.col--full
   *             .panel.panel--outlined.text--center .col--xs-12.col--full
   *        .row.row--full
   *          .col--xs-2.col--full
   *             .panel.panel--outlined.text--center .col--xs-2.col--full
   *          .col--xs-10.col--full
   *             .panel.panel--outlined.text--center .col--xs-10.col--full
   *        .row.row--full
   *          .col--xs-3.col--full
   *             .panel.panel--outlined.text--center .col--xs-3.col--full
   *          .col--xs-9.col--full
   *             .panel.panel--outlined.text--center .col--xs-9.col--full
   *        .row.row--full
   *          .col--xs-4.col--full
   *             .panel.panel--outlined.text--center .col--xs-4.col--full
   *          .col--xs-8.col--full
   *             .panel.panel--outlined.text--center .col--xs-8.col--full
   *
   */
  /**
   * Push gauche :
   * `.push-xx-x` : pour créer un retrait à gauche. Fonctionne comme les colonnes, au sein de rangées `.row`
   * Pour effectuer un retrait équivalent à 2 colonnes en format medium par exemple, utiliser `.push--md-2`.
   *
   * IMPORTANT : ne pas utiliser ces classes hors de rangées `.row`.
   *
   *
   *     @example.light
   *     .container
   *        .row.row--full
   *          .col--xs-12.col--full
   *             .panel.panel--outlined.text--center .col--xs-12.col--full
   *        .row.row--full
   *          .push--xs-2.col--full
   *          .col--xs-10.col--full
   *             .panel.panel--outlined.text--center .col--xs-10.col--full précédé d'un .push--xs-2
   *        .row.row--full
   *          .col--xs-3.col--full
   *             .panel.panel--outlined.text--center .col--xs-3.col--full
   *          .col--xs-9.col--full
   *             .panel.panel--outlined.text--center .col--xs-9.col--full
   *        .row.row--full
   *          .col--xs-2.col--full
   *             .panel.panel--outlined.text--center .col--xs-4.col--full
   *          .push--xs-2.col--full
   *          .col--xs-8.col--full
   *             .panel.panel--outlined.text--center .col--xs-8.col--full avec .push--xs-2 intercalaire
   *
   */
  /**
   * Pull-right :
   * `.pull-right` : Pour amener un élément à flotter à droite
   *
   *
   */
  /**
  * Rupture de colonnes :
  * Ce mécanisme sert à provoquer des ruptures entre colonnes, sans avoir recours
  * à une nouvelle rangée.
  *
  * Les ruptures s'opèrent entre 2 breakpoints,
  * sauf pour la dernière rupture, qui va du breakpoint xl à l'infini.
  *
  * Illustration :<br>
  * soit une rangée de 12 colonnes.<br>
  * Si on place une classe `.col-break--md` sur la 7e colonne (6 + 1 = la moitié + 1)
  * Alors, entre les breakpoint `sm` et `md`, on obtiendra une rangée coupée en 2
  * et simulant graphiquement 2 rangées de 6 colonnes.
  *
  * Ce mécanisme est par exemple utilisé sur l'écran listant les dossiers partagés.
  *
  * `.col-break--xs` : rupture de 0 à x-small
  *
  * `.col-break--sm` : rupture de x-small à small
  *
  * `.col-break--md` : rupture de small à medium
  *
  * `.col-break--lg` : rupture de medium à large
  *
  * `.col-break--xl` : rupture de large à l'infini
  *
  *     @example
  *     .panel.panel--outlined
  *       ul.list--unstyled
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 1 rupture .col-break--md
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--lg
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 1 rupture .col-break--lg
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md.col-break--xl
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 2 ruptures .col-break--md et .col-break--xl
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md.col-break--lg
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 2 ruptures .col-break--md et .col-break--lg
  */
  /*
    CSS pour les descriptions des slots des containers grids.

  */ }
  .layout.container-grid.container {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 16px; }
    @media (min-width: 768px) {
      .layout.container-grid.container {
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px; } }
    .layout.container-grid.container--full {
      margin: 0; }
    .layout.container-grid.container--no-toolbar {
      margin-top: 40px; }
    .layout.container-grid.container--bounded {
      width: calc(100vw - 64px);
      /* 2 x 32 $gutter */
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      /* @TODO : Estimer la bonne valeur */ }
  .layout.container-grid .row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    min-height: 15.1em; }
    .layout.container-grid .row.highlight {
      border: 2px dotted lightgrey;
      padding-bottom: 15.1em; }
  .layout.container-grid [class*=col--],
  .layout.container-grid [class*=push--] {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 1px;
    position: relative; }
  @media (min-width: 0) {
    .layout.container-grid .col--xs-1,
    .layout.container-grid .push--xs-1 {
      width: 8.33333%;
      width: calc(100% / 12 * 1 );
      float: left; }
    .layout.container-grid .col--xs-2,
    .layout.container-grid .push--xs-2 {
      width: 16.66667%;
      width: calc(100% / 12 * 2 );
      float: left; }
    .layout.container-grid .col--xs-3,
    .layout.container-grid .push--xs-3 {
      width: 25%;
      width: calc(100% / 12 * 3 );
      float: left; }
    .layout.container-grid .col--xs-4,
    .layout.container-grid .push--xs-4 {
      width: 33.33333%;
      width: calc(100% / 12 * 4 );
      float: left; }
    .layout.container-grid .col--xs-5,
    .layout.container-grid .push--xs-5 {
      width: 41.66667%;
      width: calc(100% / 12 * 5 );
      float: left; }
    .layout.container-grid .col--xs-6,
    .layout.container-grid .push--xs-6 {
      width: 50%;
      width: calc(100% / 12 * 6 );
      float: left; }
    .layout.container-grid .col--xs-7,
    .layout.container-grid .push--xs-7 {
      width: 58.33333%;
      width: calc(100% / 12 * 7 );
      float: left; }
    .layout.container-grid .col--xs-8,
    .layout.container-grid .push--xs-8 {
      width: 66.66667%;
      width: calc(100% / 12 * 8 );
      float: left; }
    .layout.container-grid .col--xs-9,
    .layout.container-grid .push--xs-9 {
      width: 75%;
      width: calc(100% / 12 * 9 );
      float: left; }
    .layout.container-grid .col--xs-10,
    .layout.container-grid .push--xs-10 {
      width: 83.33333%;
      width: calc(100% / 12 * 10 );
      float: left; }
    .layout.container-grid .col--xs-11,
    .layout.container-grid .push--xs-11 {
      width: 91.66667%;
      width: calc(100% / 12 * 11 );
      float: left; }
    .layout.container-grid .col--xs-12,
    .layout.container-grid .push--xs-12 {
      width: 100%;
      width: calc(100% / 12 * 12 );
      float: left; }
    .layout.container-grid .is-full-height--xs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .layout.container-grid .row--xs-1 {
      height: 15.1em; }
    .layout.container-grid .row--xs-2 {
      height: 30.2em; }
    .layout.container-grid .row--xs-3 {
      height: 45.3em; }
    .layout.container-grid .row--xs-4 {
      height: 60.4em; }
    .layout.container-grid .row--xs-5 {
      height: 75.5em; }
    .layout.container-grid .row--xs-6 {
      height: 90.6em; } }
  @media (min-width: 544px) {
    .layout.container-grid .col--sm-1,
    .layout.container-grid .push--sm-1 {
      width: 8.33333%;
      width: calc(100% / 12 * 1 );
      float: left; }
    .layout.container-grid .col--sm-2,
    .layout.container-grid .push--sm-2 {
      width: 16.66667%;
      width: calc(100% / 12 * 2 );
      float: left; }
    .layout.container-grid .col--sm-3,
    .layout.container-grid .push--sm-3 {
      width: 25%;
      width: calc(100% / 12 * 3 );
      float: left; }
    .layout.container-grid .col--sm-4,
    .layout.container-grid .push--sm-4 {
      width: 33.33333%;
      width: calc(100% / 12 * 4 );
      float: left; }
    .layout.container-grid .col--sm-5,
    .layout.container-grid .push--sm-5 {
      width: 41.66667%;
      width: calc(100% / 12 * 5 );
      float: left; }
    .layout.container-grid .col--sm-6,
    .layout.container-grid .push--sm-6 {
      width: 50%;
      width: calc(100% / 12 * 6 );
      float: left; }
    .layout.container-grid .col--sm-7,
    .layout.container-grid .push--sm-7 {
      width: 58.33333%;
      width: calc(100% / 12 * 7 );
      float: left; }
    .layout.container-grid .col--sm-8,
    .layout.container-grid .push--sm-8 {
      width: 66.66667%;
      width: calc(100% / 12 * 8 );
      float: left; }
    .layout.container-grid .col--sm-9,
    .layout.container-grid .push--sm-9 {
      width: 75%;
      width: calc(100% / 12 * 9 );
      float: left; }
    .layout.container-grid .col--sm-10,
    .layout.container-grid .push--sm-10 {
      width: 83.33333%;
      width: calc(100% / 12 * 10 );
      float: left; }
    .layout.container-grid .col--sm-11,
    .layout.container-grid .push--sm-11 {
      width: 91.66667%;
      width: calc(100% / 12 * 11 );
      float: left; }
    .layout.container-grid .col--sm-12,
    .layout.container-grid .push--sm-12 {
      width: 100%;
      width: calc(100% / 12 * 12 );
      float: left; }
    .layout.container-grid .is-full-height--sm {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .layout.container-grid .row--sm-1 {
      height: 15.1em; }
    .layout.container-grid .row--sm-2 {
      height: 30.2em; }
    .layout.container-grid .row--sm-3 {
      height: 45.3em; }
    .layout.container-grid .row--sm-4 {
      height: 60.4em; }
    .layout.container-grid .row--sm-5 {
      height: 75.5em; }
    .layout.container-grid .row--sm-6 {
      height: 90.6em; } }
  @media (min-width: 768px) {
    .layout.container-grid .col--md-1,
    .layout.container-grid .push--md-1 {
      width: 8.33333%;
      width: calc(100% / 12 * 1 );
      float: left; }
    .layout.container-grid .col--md-2,
    .layout.container-grid .push--md-2 {
      width: 16.66667%;
      width: calc(100% / 12 * 2 );
      float: left; }
    .layout.container-grid .col--md-3,
    .layout.container-grid .push--md-3 {
      width: 25%;
      width: calc(100% / 12 * 3 );
      float: left; }
    .layout.container-grid .col--md-4,
    .layout.container-grid .push--md-4 {
      width: 33.33333%;
      width: calc(100% / 12 * 4 );
      float: left; }
    .layout.container-grid .col--md-5,
    .layout.container-grid .push--md-5 {
      width: 41.66667%;
      width: calc(100% / 12 * 5 );
      float: left; }
    .layout.container-grid .col--md-6,
    .layout.container-grid .push--md-6 {
      width: 50%;
      width: calc(100% / 12 * 6 );
      float: left; }
    .layout.container-grid .col--md-7,
    .layout.container-grid .push--md-7 {
      width: 58.33333%;
      width: calc(100% / 12 * 7 );
      float: left; }
    .layout.container-grid .col--md-8,
    .layout.container-grid .push--md-8 {
      width: 66.66667%;
      width: calc(100% / 12 * 8 );
      float: left; }
    .layout.container-grid .col--md-9,
    .layout.container-grid .push--md-9 {
      width: 75%;
      width: calc(100% / 12 * 9 );
      float: left; }
    .layout.container-grid .col--md-10,
    .layout.container-grid .push--md-10 {
      width: 83.33333%;
      width: calc(100% / 12 * 10 );
      float: left; }
    .layout.container-grid .col--md-11,
    .layout.container-grid .push--md-11 {
      width: 91.66667%;
      width: calc(100% / 12 * 11 );
      float: left; }
    .layout.container-grid .col--md-12,
    .layout.container-grid .push--md-12 {
      width: 100%;
      width: calc(100% / 12 * 12 );
      float: left; }
    .layout.container-grid .is-full-height--md {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .layout.container-grid .row--md-1 {
      height: 15.1em; }
    .layout.container-grid .row--md-2 {
      height: 30.2em; }
    .layout.container-grid .row--md-3 {
      height: 45.3em; }
    .layout.container-grid .row--md-4 {
      height: 60.4em; }
    .layout.container-grid .row--md-5 {
      height: 75.5em; }
    .layout.container-grid .row--md-6 {
      height: 90.6em; } }
  @media (min-width: 992px) {
    .layout.container-grid .col--lg-1,
    .layout.container-grid .push--lg-1 {
      width: 8.33333%;
      width: calc(100% / 12 * 1 );
      float: left; }
    .layout.container-grid .col--lg-2,
    .layout.container-grid .push--lg-2 {
      width: 16.66667%;
      width: calc(100% / 12 * 2 );
      float: left; }
    .layout.container-grid .col--lg-3,
    .layout.container-grid .push--lg-3 {
      width: 25%;
      width: calc(100% / 12 * 3 );
      float: left; }
    .layout.container-grid .col--lg-4,
    .layout.container-grid .push--lg-4 {
      width: 33.33333%;
      width: calc(100% / 12 * 4 );
      float: left; }
    .layout.container-grid .col--lg-5,
    .layout.container-grid .push--lg-5 {
      width: 41.66667%;
      width: calc(100% / 12 * 5 );
      float: left; }
    .layout.container-grid .col--lg-6,
    .layout.container-grid .push--lg-6 {
      width: 50%;
      width: calc(100% / 12 * 6 );
      float: left; }
    .layout.container-grid .col--lg-7,
    .layout.container-grid .push--lg-7 {
      width: 58.33333%;
      width: calc(100% / 12 * 7 );
      float: left; }
    .layout.container-grid .col--lg-8,
    .layout.container-grid .push--lg-8 {
      width: 66.66667%;
      width: calc(100% / 12 * 8 );
      float: left; }
    .layout.container-grid .col--lg-9,
    .layout.container-grid .push--lg-9 {
      width: 75%;
      width: calc(100% / 12 * 9 );
      float: left; }
    .layout.container-grid .col--lg-10,
    .layout.container-grid .push--lg-10 {
      width: 83.33333%;
      width: calc(100% / 12 * 10 );
      float: left; }
    .layout.container-grid .col--lg-11,
    .layout.container-grid .push--lg-11 {
      width: 91.66667%;
      width: calc(100% / 12 * 11 );
      float: left; }
    .layout.container-grid .col--lg-12,
    .layout.container-grid .push--lg-12 {
      width: 100%;
      width: calc(100% / 12 * 12 );
      float: left; }
    .layout.container-grid .is-full-height--lg {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .layout.container-grid .row--lg-1 {
      height: 15.1em; }
    .layout.container-grid .row--lg-2 {
      height: 30.2em; }
    .layout.container-grid .row--lg-3 {
      height: 45.3em; }
    .layout.container-grid .row--lg-4 {
      height: 60.4em; }
    .layout.container-grid .row--lg-5 {
      height: 75.5em; }
    .layout.container-grid .row--lg-6 {
      height: 90.6em; } }
  @media (min-width: 1200px) {
    .layout.container-grid .col--xl-1,
    .layout.container-grid .push--xl-1 {
      width: 8.33333%;
      width: calc(100% / 12 * 1 );
      float: left; }
    .layout.container-grid .col--xl-2,
    .layout.container-grid .push--xl-2 {
      width: 16.66667%;
      width: calc(100% / 12 * 2 );
      float: left; }
    .layout.container-grid .col--xl-3,
    .layout.container-grid .push--xl-3 {
      width: 25%;
      width: calc(100% / 12 * 3 );
      float: left; }
    .layout.container-grid .col--xl-4,
    .layout.container-grid .push--xl-4 {
      width: 33.33333%;
      width: calc(100% / 12 * 4 );
      float: left; }
    .layout.container-grid .col--xl-5,
    .layout.container-grid .push--xl-5 {
      width: 41.66667%;
      width: calc(100% / 12 * 5 );
      float: left; }
    .layout.container-grid .col--xl-6,
    .layout.container-grid .push--xl-6 {
      width: 50%;
      width: calc(100% / 12 * 6 );
      float: left; }
    .layout.container-grid .col--xl-7,
    .layout.container-grid .push--xl-7 {
      width: 58.33333%;
      width: calc(100% / 12 * 7 );
      float: left; }
    .layout.container-grid .col--xl-8,
    .layout.container-grid .push--xl-8 {
      width: 66.66667%;
      width: calc(100% / 12 * 8 );
      float: left; }
    .layout.container-grid .col--xl-9,
    .layout.container-grid .push--xl-9 {
      width: 75%;
      width: calc(100% / 12 * 9 );
      float: left; }
    .layout.container-grid .col--xl-10,
    .layout.container-grid .push--xl-10 {
      width: 83.33333%;
      width: calc(100% / 12 * 10 );
      float: left; }
    .layout.container-grid .col--xl-11,
    .layout.container-grid .push--xl-11 {
      width: 91.66667%;
      width: calc(100% / 12 * 11 );
      float: left; }
    .layout.container-grid .col--xl-12,
    .layout.container-grid .push--xl-12 {
      width: 100%;
      width: calc(100% / 12 * 12 );
      float: left; }
    .layout.container-grid .is-full-height--xl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .layout.container-grid .row--xl-1 {
      height: 15.1em; }
    .layout.container-grid .row--xl-2 {
      height: 30.2em; }
    .layout.container-grid .row--xl-3 {
      height: 45.3em; }
    .layout.container-grid .row--xl-4 {
      height: 60.4em; }
    .layout.container-grid .row--xl-5 {
      height: 75.5em; }
    .layout.container-grid .row--xl-6 {
      height: 90.6em; } }
  @media (min-width: 0) and (max-width: 543px) {
    .layout.container-grid .col-break--xs {
      clear: left; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .layout.container-grid .col-break--sm {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .layout.container-grid .col-break--md {
      clear: left; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .layout.container-grid .col-break--lg {
      clear: left; } }
  @media (min-width: 1200px) {
    .layout.container-grid .col-break--xl {
      clear: left; } }
  .layout.container-grid .row--full {
    margin: auto; }
  .layout.container-grid .col--full,
  .layout.container-grid .push--full {
    padding: 0; }
  .layout.container-grid .pull-right {
    float: right; }
  .layout.container-grid .row--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    margin: 0;
    width: 100%; }
    .layout.container-grid .row--flex:before, .layout.container-grid .row--flex:after {
      display: none; }
  .layout.container-grid .col--flex {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    float: none;
    padding: 8px; }
  .layout.container-grid .row--equal-height {
    display: flex; }
  .layout.container-grid .col--border {
    border-right: 1px solid #d7dee2; }

body.responsive-debug:before {
  content: " ";
  display: block;
  padding: .5rem;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  background-color: darkorange;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

@media (min-width: 0) {
  body.responsive-debug:before {
    content: "xs"; } }
@media (min-width: 544px) {
  body.responsive-debug:before {
    content: "sm"; } }
@media (min-width: 768px) {
  body.responsive-debug:before {
    content: "md"; } }
@media (min-width: 992px) {
  body.responsive-debug:before {
    content: "lg"; } }
@media (min-width: 1200px) {
  body.responsive-debug:before {
    content: "xl"; } }
.layout__simple-grid--siteCom {
  margin-left: 13.6em; }
  .layout__simple-grid--siteCom .layout__gridSlot {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 25%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    display: inline-block; }
  .layout__simple-grid--siteCom .layout__slot--columnspan2 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--siteCom .layout__slot--columnspan3 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 75%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--siteCom .layout__slot--columnspan4 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--siteCom .layout__slot--rowspan2 {
    height: 30.2em; }
  .layout__simple-grid--siteCom .layout__slot--rowspan3 {
    height: 45.3em; }
  .layout__simple-grid--siteCom .layout__slot--rowspan4 {
    height: 60.4em; }

.layout__simple-grid--sitePortail {
  margin-left: 13.6em; }
  .layout__simple-grid--sitePortail .layout__gridSlot {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 16.66667%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    float: left; }
  .layout__simple-grid--sitePortail .layout__slot--columnspan2 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 33.33333%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--sitePortail .layout__slot--columnspan3 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--sitePortail .layout__slot--columnspan4 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 66.66667%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--sitePortail .layout__slot--columnspan5 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 83.33333%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--sitePortail .layout__slot--columnspan6 {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .layout__simple-grid--sitePortail .layout__slot--rowspan2 {
    height: 22.2em; }
  .layout__simple-grid--sitePortail .layout__slot--rowspan3 {
    height: 33.3em; }
  .layout__simple-grid--sitePortail .layout__slot--rowspan4 {
    height: 44.4em; }
  .layout__simple-grid--sitePortail .layout__slot--rowspan5 {
    height: 55.5em; }
  .layout__simple-grid--sitePortail .layout__slot--rowspan6 {
    height: 66.6em; }

.layout-manager {
  position: relative; }
  .layout-manager .ui-dialog {
    background: #fff;
    -moz-transition-property: height;
    -o-transition-property: height;
    -webkit-transition-property: height;
    transition-property: height;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .layout-manager .tooltip {
    font-size: 1.2em; }

.layout-manager__edit-mask {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0; }

.layout-manager__edit-mask--inactive {
  display: none; }

.layout-manager__edit-mask--active {
  display: block;
  z-index: 10; }

.layout-manager__edit-wrapper {
  border-top: 1px solid #ccc;
  margin: 1em 0; }
  .layout-manager__edit-wrapper .dropdown-toggle {
    max-width: 40em;
    text-align: left;
    width: 40em; }
    .layout-manager__edit-wrapper .dropdown-toggle .cards-selector__item {
      border-bottom: 0; }
    .layout-manager__edit-wrapper .dropdown-toggle:disabled {
      background-image: none;
      color: #000; }
  .layout-manager__edit-wrapper .dropdown-menu {
    margin: 0;
    padding: 0; }

.layout-manager__edit-wrapper--inactive {
  display: none; }

.layout-manager__edit-wrapper--active {
  display: block; }

.layout-manager__edit-cards-selector {
  box-sizing: border-box;
  display: inline-block;
  width: 100%; }

.card-viewBo {
  display: none; }

.cards-selector {
  display: inline-block; }

.cards-selector__item {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box; }
  .cards-selector__item button {
    padding: .25em;
    text-align: left;
    width: 100%; }
  .cards-selector__item img {
    display: inline-block;
    float: left;
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    margin: .15em .25em .3em 0; }
  .cards-selector__item + .cards-selector__item {
    border-left: 1px solid #ccc; }

.cards-selector__item--inactive {
  display: none; }

.cards-selector__item--active {
  display: block; }

.cards-selector__item-infos {
  margin: .25em;
  vertical-align: top; }
  .cards-selector__item-infos .description {
    font-weight: 500; }

.card-forms {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 1em 0;
  width: 100%; }
  .card-forms p {
    margin: 1em 0; }

.card-forms__edit-panel--inactive {
  display: none; }

.card-forms__edit-panel--active {
  display: block; }

.slot, .layout__simple-grid--siteCom .layout__gridSlot, .layout__simple-grid--sitePortail .layout__gridSlot {
  height: 11.1em;
  padding: .25em !important; }

.layout__slot-status {
  border: 2px solid #ccc;
  box-sizing: border-box;
  display: table;
  font-size: 3.4em;
  height: 100%;
  text-align: center;
  width: 100%; }
  .layout__slot-status .icon {
    display: table-cell;
    vertical-align: middle; }

.layout__slot--filled .layout__slot-status {
  background: #f1f1f1; }
  .layout__slot--filled .layout__slot-status .icon {
    display: block;
    font-size: .75em;
    position: absolute;
    right: .3em;
    top: .3em; }

*:focus .layout__slot-status {
  border: 0; }

.layout__slot-status--empty {
  border-style: dashed;
  color: #3c3c3c; }

.layout__slot-status--error {
  color: #DB4343; }

.layout__slot-status--warning {
  color: #eb8800; }

.layout__slot-status--checked {
  color: #439C43; }

.layout__slot-status--incomplete {
  color: #FFC200; }

.layout__slot {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  height: 11.1em;
  overflow: hidden;
  position: relative; }
  .layout__slot:hover, .layout__slot:focus {
    -moz-box-shadow: #575757 0 0 20px;
    -webkit-box-shadow: #575757 0 0 20px;
    box-shadow: #575757 0 0 20px;
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 15; }
    .layout__slot:hover .layout__slot-status, .layout__slot:focus .layout__slot-status {
      border: 0; }
  .layout__slot .layout__slot-button {
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10; }
    .layout__slot .layout__slot-button:hover {
      background: transparent; }

.layout__card-model {
  box-sizing: border-box;
  height: 100%;
  resize: none; }

.js .layout__card-model {
  display: none; }

.layout__slot--focus {
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  border: 2px solid #fff;
  z-index: 15; }

.card {
  color: #3c3c3c;
  display: table-cell;
  font-size: .45em;
  padding: .25em .3em;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle; }

.layout__slot-toolbar {
  bottom: .5em;
  position: absolute;
  right: .5em;
  z-index: 100; }

.layout__slot-toolbar-button, .layout__slot-toolbar-button--edit, .layout__slot-toolbar-button--empty {
  height: 2em;
  padding: 0;
  width: 2em; }
  .layout__slot-toolbar-button .icon, .layout__slot-toolbar-button--edit .icon, .layout__slot-toolbar-button--empty .icon {
    font-size: 1.3em;
    margin: 0; }

.layout__slot-toolbar-button--edit .icon {
  color: #DD9500; }

.layout__slot-toolbar-button--empty .icon {
  color: #C00000; }

.layout .slot-description > span {
  display: none; }
.layout .slot-description.icon.icon-slot-empty {
  font-size: 1rem;
  padding: 1rem; }
  .layout .slot-description.icon.icon-slot-empty > span {
    font-family: "arial", "helvetica", "sans-serif";
    display: inline; }
  .layout .slot-description.icon.icon-slot-empty::before {
    margin-right: 0.5rem; }

.toolbox,
.popup {
  background: #fff;
  padding: 0; }
  .toolbox p,
  .popup p {
    margin: 0 0 1.5em; }
  .toolbox h2,
  .popup h2 {
    border: 0;
    display: none; }
  .toolbox #content,
  .popup #content {
    box-shadow: none;
    max-width: auto !important;
    width: auto; }
    .toolbox #content > ul,
    .popup #content > ul {
      font-weight: 700; }
      .toolbox #content > ul li,
      .popup #content > ul li {
        margin: 0; }
  .toolbox fieldset.neutre,
  .toolbox .fieldset.neutre,
  .popup fieldset.neutre,
  .popup .fieldset.neutre {
    padding: 2em 0; }
  .toolbox legend,
  .popup legend {
    box-shadow: -2px 2px 0 #ab9535;
    margin-left: 0;
    padding: .5em 1em; }
    .toolbox legend:before,
    .popup legend:before {
      display: none; }
  .toolbox label.colonne,
  .toolbox .label.colonne,
  .popup label.colonne,
  .popup .label.colonne {
    width: 12em; }
  .toolbox input,
  .toolbox select,
  .toolbox textarea,
  .popup input,
  .popup select,
  .popup textarea {
    max-width: 48em; }
  .toolbox #onglets,
  .popup #onglets {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: auto; }
    .toolbox #onglets li,
    .popup #onglets li {
      background-color: rgba(0, 0, 0, 0.1);
      border: 2px solid #e5e5e5;
      position: relative;
      bottom: -2px; }
  .toolbox .retrait,
  .toolbox form .fieldset > p.retrait,
  form .toolbox .fieldset > p.retrait,
  .toolbox form .col > p.retrait,
  form .toolbox .col > p.retrait,
  .toolbox .content-deco > p.retrait,
  .toolbox .content-deco fieldset > p.retrait,
  .content-deco .toolbox fieldset > p.retrait,
  .toolbox .content-deco .fieldset > p.retrait,
  .content-deco .toolbox .fieldset > p.retrait,
  .toolbox .content-deco .col > p.retrait,
  .content-deco .toolbox .col > p.retrait,
  .popup .retrait,
  .popup form .fieldset > p.retrait,
  form .popup .fieldset > p.retrait,
  .popup form .col > p.retrait,
  form .popup .col > p.retrait,
  .popup .content-deco > p.retrait,
  .popup .content-deco fieldset > p.retrait,
  .content-deco .popup fieldset > p.retrait,
  .popup .content-deco .fieldset > p.retrait,
  .content-deco .popup .fieldset > p.retrait,
  .popup .content-deco .col > p.retrait,
  .content-deco .popup .col > p.retrait {
    margin-left: 12em; }

.toolbox #content {
  margin: 0;
  padding: 0; }
.toolbox #actions.sticky,
.toolbox .actions.sticky {
  padding: 1.5em; }

#iframeLinkTypeLienInterne {
  height: 510px; }

#iframe_rubrique {
  height: 510px; }

.header_k_link {
  background: #eee;
  padding: 1em; }

.cke_maximized, .cke_notifications_area {
  z-index: 10010 !important; }

.ckeditor {
  margin: 1em 0; }

.tabs {
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .tabs > ul {
    margin: 1.5em auto 0; }
  .tabs .tabs__item {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em; }
  .tabs .tabs__link {
    padding: .5em 1em;
    text-decoration: none; }
    .tabs .tabs__link:focus {
      background: #fff;
      outline: 1px dotted #e1e1e1; }

.tabs--horizontal .tabs__item {
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-bottom: 0; }
.tabs--horizontal .tabs__item--active {
  background: #fff;
  margin-bottom: -1px; }

.tabs--vertical .tabs--item {
  display: block; }
.tabs--vertical .tabs__link {
  display: block;
  padding: .5em 1em;
  width: 100%; }
  .tabs--vertical .tabs__link:hover {
    background: #f2f2f2; }
.tabs--vertical .tabs__item--active {
  background: #f2f2f2; }
  .tabs--vertical .tabs__item--active .tabs__icon--normal {
    display: none; }
  .tabs--vertical .tabs__item--active .tabs__icon--highlight {
    display: block; }

.tabs__panel {
  display: none; }

.tabs__panel--active {
  display: block; }

.tabs__icon {
  display: inline-block;
  height: 24px;
  margin: 0 .5em 0 0;
  vertical-align: bottom;
  width: 24px; }
  .tabs__icon .tabs__icon--highlight {
    display: none; }

.components__ckeditor {
  margin-bottom: 1rem; }
  .components__ckeditor label.colonne, .components__ckeditor .label.colonne {
    width: auto; }

/*
 * Table
 */
table.dataTable span,
table.dataTable_like span {
  max-width: 10em; }
table.dataTable a.ellipsis, table.dataTable .riche a, .riche table.dataTable a,
table.dataTable_like a.ellipsis,
table.dataTable_like .riche a,
.riche table.dataTable_like a {
  max-width: 20em; }
table.dataTable a.long,
table.dataTable_like a.long {
  max-width: 40em; }
table.dataTable thead tr th,
table.dataTable_like thead tr th {
  border: 1px solid white;
  border-bottom: none; }
table.dataTable tbody tr.head:hover,
table.dataTable_like tbody tr.head:hover {
  outline: none; }

table.dataTable thead th,
table.dataTable_like thead th {
  border-bottom: 0;
  color: #000;
  color: rgba(0, 0, 0, 0.9);
  background: #efd979; }
  table.dataTable thead th:hover,
  table.dataTable_like thead th:hover {
    background-color: #e5cf6f; }

/*
 * Table wrapper
 */
/*
 * Page length menu
 */
/*
 * Filter
 */
/*
 * Table information
 */
.dataTables_info,
.dataTables_like_info {
  font-weight: 700; }

.DTTT_container .ui-button {
  margin-right: 0; }

/*
 * Pagination
 */
.dataTables_paginate.disabled {
  display: none; }

/* Two button pagination - previous / next */
/* Full number pagination */
.paging_full_numbers .ui-button {
  color: #0091b5 !important; }
  .paging_full_numbers .ui-button:hover {
    background: #0091b5;
    color: #fff !important; }

/*
 * Processing indicator
 */
.processing {
  height: 200px; }
  .processing .ui-toolbar {
    visibility: hidden; }

/*
 * Sorting
 */
/*
 * Scrolling
 */
.fg-toolbar .resume {
  display: inline-block;
  float: right; }
  .fg-toolbar .resume .dropdown-menu > ul > li {
    white-space: nowrap; }
  .fg-toolbar .resume .dropdown-menu a {
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    color: #0091b5; }

/*
 * Table
 */
table.dataTable,
table.dataTable_like {
  border: 1px solid #fff; }

table.dataTable tbody tr:hover,
table.dataTable_like tbody tr:hover {
  outline: 2px solid #efd979;
  cursor: default; }
  table.dataTable tbody tr:hover td,
  table.dataTable tbody tr:hover td.sorting_1,
  table.dataTable_like tbody tr:hover td,
  table.dataTable_like tbody tr:hover td.sorting_1 {
    background-color: #fff; }

table.dataTable thead th,
table.dataTable_like thead th {
  padding: .75em 0 .75em 10px; }

table.dataTable td,
table.dataTable_like td {
  padding: .75em 10px !important; }

table.dataTable tr.odd,
table.dataTable_like tr.odd {
  background-color: #e6e6e6; }

table.dataTable tr.even,
table.dataTable_like tr.even {
  background-color: #f2f2f2; }

table.dataTable tr.odd td.sorting_1,
table.dataTable_like tr.odd td.sorting_1 {
  background-color: #d9d9d9; }

table.dataTable tr.even td.sorting_1,
table.dataTable_like tr.even td.sorting_1 {
  background-color: #e6e6e6; }

/*
 * Table wrapper
 */
.dataTables_wrapper {
  margin-bottom: 1em; }

.dataTables_wrapper .ui-toolbar {
  padding: 5px 0; }

/*
 * Page length menu
 */
/*
 * Filter
 */
/*
 * Table information
 */
/*
 * Pagination
 */
/* Two button pagination - previous / next */
/* Full number pagination */
/*
 * Processing indicator
 */
/*
 * Sorting
 */
/*
 * Scrolling
 */
.ui-widget-overlay {
  background: #000;
  opacity: .6;
  z-index: 10000; }

/*
 * Popins
 */
.ui-dialog-titlebar-back {
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px; }
  .ui-dialog-titlebar-back .ui-icon {
    left: 0; }

body {
  background: #e5e5e5 url(img/fond.png); }

#page {
  margin: 0 auto; }

#header {
  background: #fff;
  margin: 0;
  min-height: 6.5em;
  position: relative;
  z-index: 50; }
  #header a,
  #header span {
    color: #3c5780;
    text-decoration: none; }

#header_deco {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 100em; }

#fonctionnalites {
  font-weight: 700; }
  #fonctionnalites > li {
    position: relative; }
    #fonctionnalites > li > a {
      background: no-repeat 50% -6.4em;
      cursor: default;
      display: block;
      padding: 4em 1em 1em;
      position: relative; }
    #fonctionnalites > li:hover > a,
    #fonctionnalites > li > a:hover,
    #fonctionnalites > li > a:focus, #fonctionnalites > li.focus > a {
      background-color: rgba(255, 255, 255, 0.3);
      background-position: 50% 1.5em; }
      #fonctionnalites > li:hover > a:after,
      #fonctionnalites > li > a:hover:after,
      #fonctionnalites > li > a:focus:after, #fonctionnalites > li.focus > a:after {
        border-bottom: 8px solid #3c5780;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: 0;
        content: "";
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin: 0 0 0 -10px;
        position: absolute;
        width: 0; }
    #fonctionnalites > li[class]:hover > a:after {
      border-top: 8px solid #fff;
      border-bottom: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: -8px;
      content: "";
      font-size: 0;
      left: 50%;
      line-height: 0;
      margin: 0 0 0 -10px;
      position: absolute;
      width: 0;
      z-index: 10000; }
    #fonctionnalites > li[class]:hover > a:before {
      border-top: 8px solid #3c5780;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: -12px;
      content: "";
      font-size: 0;
      left: 50%;
      line-height: 0;
      margin: 0 0 0 -10px;
      position: absolute;
      width: 0;
      z-index: 10000; }
    #fonctionnalites > li#menuAccueil > a:first-child {
      background-image: url(img/fonct/menuAccueil.png);
      cursor: pointer; }
    #fonctionnalites > li#menuAccueil:hover > a:after {
      display: none; }
    #fonctionnalites > li#menuContenu > a:first-child {
      background-image: url(img/fonct/menuContenu.png); }
    #fonctionnalites > li#menuGestionEditoriale > a:first-child {
      background-image: url(img/fonct/menuGestionEditoriale.png); }
    #fonctionnalites > li#menuModule > a:first-child {
      background-image: url(img/fonct/menuModule.png); }
    #fonctionnalites > li#menuAdministration > a:first-child {
      background-image: url(img/fonct/menuAdministration.png); }
    #fonctionnalites > li#supervisionMenu > a:first-child {
      background-image: url(img/fonct/supervisionMenu.png); }
    #fonctionnalites > li#menuAPropos > a:first-child {
      background-image: url(img/fonct/menuAPropos.png); }
    #fonctionnalites > li#menuGestionSite > a:first-child {
      background-image: url(img/fonct/menuGestionSite.png); }
    #fonctionnalites > li ul {
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 0;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 0;
      box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 0;
      background: #fff;
      border-top: 4px solid #3c5780;
      display: none;
      left: 0;
      min-width: 20em;
      padding: 1em;
      position: absolute;
      top: 6.5em; }
      #fonctionnalites > li ul li a {
        border-top: 1px solid #eee;
        color: #3c5780;
        display: block;
        padding: .25em 1em; }
        #fonctionnalites > li ul li a:hover {
          background: #3c5780;
          color: #fff; }
      #fonctionnalites > li ul li:first-child a {
        border: 0; }
      #fonctionnalites > li ul li.focus a {
        background: #3c5780;
        color: #fff; }
    #fonctionnalites > li:hover ul {
      display: block; }

#utilisateur {
  color: #3c5780;
  position: absolute;
  right: 0;
  top: 0; }
  #utilisateur > button {
    background: white url(img/utilisateur.png) no-repeat 100% 25%;
    color: #3c5780;
    cursor: pointer;
    text-align: right;
    padding: 0 .25em;
    padding: .5em 3.5em 1em 0; }
  #utilisateur li {
    padding: .25em 1em;
    border-top: 1px solid #eee; }
    #utilisateur li:first-child {
      border: 0;
      padding-top: 0; }
  #utilisateur a:hover {
    text-decoration: underline; }
  #utilisateur .dropdown-menu {
    right: 0;
    left: auto; }
    #utilisateur .dropdown-menu:before {
      border-bottom-color: #ccc; }

#entete {
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1) inset;
  background: rgba(255, 255, 255, 0.5);
  background: #3c5780;
  color: #fff;
  margin: 0 0 2.5em;
  padding: .5em 0; }
  #entete > div {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 0;
    width: 100%;
    position: relative;
    max-width: 100em; }
  #entete h1 {
    max-width: 40%;
    text-indent: .75em; }
    #entete h1 a {
      border-bottom: 1px dotted; }
      #entete h1 a:hover {
        border: 0; }
  #entete a {
    color: #fff;
    text-decoration: none; }

#titre_ecran {
  -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 98em;
  min-height: 2.25em;
  padding: .75em 1em 0;
  position: relative;
  width: 100%; }
  #titre_ecran .message {
    margin: 1em 0 0; }

#actions_composant {
  background: #e5e5e5 url(img/fond.png);
  font-weight: 700;
  font-size: 1.0833333333em;
  max-width: 60%;
  float: right;
  margin: 0;
  padding: 1.1em 0 0;
  display: inline-block;
  position: relative;
  top: 1em; }
  #actions_composant:before {
    content: "";
    width: 0;
    z-index: -10;
    border-right: 31px solid transparent;
    border-top: 31px solid #3c5780;
    font-size: 0;
    line-height: 0; }
  #actions_composant:after {
    content: "";
    width: 0;
    z-index: -10;
    border-left: 31px solid transparent;
    border-top: 31px solid #3c5780;
    font-size: 0;
    line-height: 0; }
  #actions_composant a {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    background: white no-repeat 0.5em 50%;
    color: #09244d;
    padding: .46154em .46154em .46154em 2.23077em; }
    #actions_composant a:hover {
      color: #fff;
      background-color: #3c5780; }
  #actions_composant > li {
    display: inline-block;
    margin: 0 0 0 1em; }
    #actions_composant > li:first-child {
      margin: 0; }
    #actions_composant > li.ajouter a {
      background-image: url(img/16x16/plus.png); }
      #actions_composant > li.ajouter a:hover {
        background-image: url(img/16x16/negatif/plus.png); }
    #actions_composant > li.rechercher a, #actions_composant > li.modifier a, #actions_composant > li.recherche_avancee a {
      background-image: url(img/16x16/rechercher.png); }
      #actions_composant > li.rechercher a:hover, #actions_composant > li.modifier a:hover, #actions_composant > li.recherche_avancee a:hover {
        background-image: url(img/16x16/negatif/rechercher.png); }
    #actions_composant > li.supprimer a {
      background-image: url(img/16x16/supprimer.png); }
      #actions_composant > li.supprimer a:hover {
        background-image: url(img/16x16/negatif/supprimer.png); }
    #actions_composant > li.envoyer a {
      background-image: url(img/16x16/envoyer.png); }
      #actions_composant > li.envoyer a:hover {
        background-image: url(img/16x16/negatif/envoyer.png); }
    #actions_composant > li.recharger a {
      background-image: url(img/16x16/recharger.png); }
      #actions_composant > li.recharger a:hover {
        background-image: url(img/16x16/negatif/recharger.png); }
    #actions_composant > li.restaurer a {
      background-image: url(img/16x16/restaurer.png); }
      #actions_composant > li.restaurer a:hover {
        background-image: url(img/16x16/negatif/restaurer.png); }
    #actions_composant > li.telecharger a {
      background-image: url(img/16x16/telecharger.png); }
      #actions_composant > li.telecharger a:hover {
        background-image: url(img/16x16/negatif/telecharger.png); }
    #actions_composant > li.importer a {
      background-image: url(img/16x16/importer.png); }
      #actions_composant > li.importer a:hover {
        background-image: url(img/16x16/negatif/importer.png); }
    #actions_composant > li.exporter a {
      background-image: url(img/16x16/exporter.png); }
      #actions_composant > li.exporter a:hover {
        background-image: url(img/16x16/negatif/exporter.png); }
    #actions_composant > li.traduire a {
      background-image: url(img/16x16/traduire.png); }
      #actions_composant > li.traduire a:hover {
        background-image: url(img/16x16/negatif/traduire.png); }
    #actions_composant > li.planifier a {
      background-image: url(img/16x16/planifier.png); }
      #actions_composant > li.planifier a:hover {
        background-image: url(img/16x16/negatif/planifier.png); }
    #actions_composant > li.suivre a {
      background-image: url(img/16x16/suivre.png); }
      #actions_composant > li.suivre a:hover {
        background-image: url(img/16x16/negatif/suivre.png); }
    #actions_composant > li.refuser a {
      background-image: url(img/16x16/refuser.png); }
      #actions_composant > li.refuser a:hover {
        background-image: url(img/16x16/negatif/refuser.png); }
    #actions_composant > li.parametrer a {
      background-image: url(img/16x16/parametrer.png); }
      #actions_composant > li.parametrer a:hover {
        background-image: url(img/16x16/negatif/parametrer.png); }

#titre_ecran.sticky {
  box-sizing: border-box;
  height: 2.5rem;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  #titre_ecran.sticky h2 {
    border-bottom: 0;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 72rem;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #titre_ecran.sticky h2 span {
      opacity: 0.38; }
  #titre_ecran.sticky #messageApplicatif {
    display: none; }

#actions,
.actions {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 98em;
  padding: 1.5em 1em;
  width: 100%; }
  #actions.sticky,
  .actions.sticky {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 2.5rem;
    max-width: 100%;
    padding: 0.75em 0;
    position: fixed;
    top: 3em;
    width: 100%;
    z-index: 10000; }
    #actions.sticky > div,
    .actions.sticky > div {
      padding: 0 1em; }
  #actions > div,
  .actions > div {
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 98em; }
    #actions > div > ul,
    .actions > div > ul {
      display: inline-block;
      float: right;
      font-weight: 700; }
      #actions > div > ul > li,
      .actions > div > ul > li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 .75em; }
        #actions > div > ul > li > input,
        .actions > div > ul > li > input {
          background: none;
          color: #000;
          margin: -.25em -.5em -.25em -2em;
          padding: .25em .5em .25em 2em; }
  #actions #epingle,
  .actions #epingle {
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    background: #fff;
    bottom: -1em;
    cursor: pointer;
    display: none;
    font-size: 1.8em;
    font-weight: 700;
    opacity: 0;
    position: absolute;
    right: -0.8em;
    text-align: center;
    width: 1.5em; }

.menu_sauts {
  background: #f1f1f1;
  border: 2px solid #ededed;
  float: right;
  margin-right: -20em;
  margin-top: -0.5em;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 6em;
  width: 17em; }

.menu_sauts__list__submenu {
  margin-left: 2em; }

.menu_sauts__title {
  border-bottom: 0;
  margin-bottom: 0.75em; }

.menu_sauts__list__item a {
  color: #3c5780;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 1em;
  text-decoration: none; }

.menu_sauts__list__submenu li a {
  font-weight: normal;
  padding: 0.25em 1em; }

.menu_sauts__list__item a:hover {
  background-color: #3c5780;
  color: #ffffff; }

a.cible_saut:target {
  display: block;
  height: 8rem;
  /* fixed header height*/
  margin-top: -8rem;
  /* negative fixed header height */
  visibility: hidden; }

.resume {
  display: inline-block;
  vertical-align: top;
  margin: .15em 0; }
  .resume > div {
    margin: 0 .5em 0 0;
    padding: 0;
    display: inline-block; }
    .resume > div > span {
      vertical-align: text-top; }
  .resume img {
    margin: 0 0.5em 0 0;
    vertical-align: middle; }
  .resume .btn img {
    margin: 0;
    vertical-align: middle; }
  .resume .dropdown > strong {
    text-transform: capitalize; }
  .resume .dropdown-menu {
    min-width: 0px;
    padding: 1em; }
    .resume .dropdown-menu strong {
      display: block;
      margin: 0 0 .25em;
      white-space: nowrap; }
    .resume .dropdown-menu > ul > li:first-child + li {
      border-top: 2px solid #ddd;
      padding: 1em 0 0;
      margin: 1em 0 0; }
    .resume .dropdown-menu a {
      text-decoration: none;
      text-transform: capitalize;
      white-space: nowrap; }
    .resume .dropdown-menu button {
      padding: 0;
      color: #0091b5;
      font-weight: 500;
      text-transform: capitalize;
      white-space: nowrap; }
    .resume .dropdown-menu a:hover,
    .resume .dropdown-menu button:hover {
      background: none;
      text-decoration: underline; }

.restaurer.button {
  border: 0; }
  .restaurer.button .dropdown-menu {
    min-width: 180px; }

#content {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  *zoom: 1;
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 98em;
  min-height: 26em;
  padding: 1.5em 1em;
  width: 100%; }
  #content:after {
    content: "";
    display: table;
    clear: both; }
  #content a:focus {
    background-color: #3c5780;
    color: #fff;
    text-decoration: none; }
  #saisie_objet #content.has-menu-sauts {
    padding: 1.5em 21em 1.5em 1em; }
    #saisie_objet #content.has-menu-sauts .kmultiselect-ttl,
    #saisie_objet #content.has-menu-sauts .kmultiselect-ltl {
      width: 58em; }

#fil_ariane {
  color: #888;
  font-weight: 700;
  margin: 1em 0; }

.menu_courant > li {
  list-style: disc inside;
  margin-left: 1em;
  padding: 0 0 0.25em; }

.pagination {
  margin: 2em 0;
  text-align: center; }
  .pagination a,
  .pagination em {
    background: #eee;
    color: #3c5780;
    display: inline-block;
    line-height: 2em;
    margin: 0 .125em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    min-width: 3em; }
    .pagination a:hover,
    .pagination em:hover {
      background: #3c5780;
      color: #fff; }
    .pagination a img,
    .pagination em img {
      vertical-align: middle; }

.login {
  background-image: url(img/rosace.png);
  background-repeat: no-repeat;
  background-position: 122% -210px; }
  .login #page,
  .login #footer {
    margin: 0 auto;
    max-width: 40em; }
  .login #header {
    background-color: #3c5780; }
    .login #header > div {
      width: 40em; }
  .login nav {
    width: 44em; }
  .login #logo {
    position: absolute;
    top: 1em;
    left: 0;
    width: 13.917em; }
  .login #entete {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .login h1 {
    visibility: hidden; }
  .login #content {
    min-height: 0;
    margin: 0 0 1.5em; }
    .login #content form {
      padding: 1em 0; }
    .login #content fieldset {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 2em 1em 0; }
    .login #content label {
      display: inline-block;
      width: 12em; }
    .login #content input[type="text"],
    .login #content input[type="password"] {
      width: 22.8em; }
    .login #content input[type="submit"] {
      margin: 1em 0 0 12.3em; }
  .login .validation {
    padding-left: 0; }
  .login #haut_page {
    display: none; }

#content.accueil > div {
  float: left;
  margin: 0 .5em 1.5em;
  min-height: 27em;
  position: relative;
  width: 47em; }
  #content.accueil > div > div {
    margin: 0 1em; }
#content.accueil h3 {
  background-color: #efd979; }
  #content.accueil h3:after {
    border-color: #efd979 white white;
    display: none; }
#content.accueil form .colonne {
  min-width: 7em;
  vertical-align: sub; }
#content.accueil form input[type="text"] {
  width: 25em;
  min-height: 2em; }
#content.accueil form .retrait {
  margin-left: 7em; }
#content.accueil form .validation {
  border: 0;
  margin: 2.5em 0 0;
  padding: 0 0 0 7em; }
#content.accueil #nouvelle_fiche {
  margin: 0 0 1em;
  position: relative;
  z-index: 10; }
  #content.accueil #nouvelle_fiche:hover ul {
    display: block; }
  #content.accueil #nouvelle_fiche ul {
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 3px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    left: 0;
    position: absolute;
    top: 1.7em; }
    #content.accueil #nouvelle_fiche ul li:first-child a {
      border: 0; }
    #content.accueil #nouvelle_fiche ul a {
      border-top: 1px solid #eee;
      text-decoration: none;
      padding: .25em 1em;
      display: block; }
      #content.accueil #nouvelle_fiche ul a:hover {
        background: #eee; }
#content.accueil #fiche_a_valider {
  float: right;
  overflow: auto;
  width: 50%; }
  #content.accueil #fiche_a_valider h4 {
    font-weight: 700;
    border-bottom: 2px solid;
    margin: 0 0 .5em;
    padding: 0 0 .5em; }
#content.accueil p.plus {
  margin: 1em 0;
  padding: .5em 0;
  border-top: 2px dotted #ccc; }
#content.accueil .dropdown_deco {
  margin: 0 0 1.5em -1em; }
#content.accueil .dropdown {
  display: inline-block; }
  #content.accueil .dropdown li {
    border-top: 1px solid #eee; }
    #content.accueil .dropdown li:first-child {
      border: 0; }

#perimetre li {
  margin-top: 0.5em; }

.media_infos {
  display: inline-block; }
  .media_infos.resource_controled {
    width: 55%;
    padding-left: 2.5em;
    border-left: 1px solid #e1e1e1; }

.media_description {
  border: 1px solid #e1e1e1; }

form .fieldset > p.onglets_drapeau {
  margin-bottom: -1px; }
  form .fieldset > p.onglets_drapeau > a.drapeau {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-decoration: none;
    padding: 5px 5px 0 5px;
    border: 1px solid #e1e1e1;
    vertical-align: bottom; }
    form .fieldset > p.onglets_drapeau > a.drapeau.active {
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid #fff; }

.apercu-photo-conteneur,
.apercu-video-conteneur {
  width: 39em;
  min-height: 26em;
  text-align: center;
  display: inline-block; }
  .apercu-photo-conteneur img,
  .apercu-video-conteneur img {
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #e0e0e0; }

.apercu-video-conteneur > .apercu-video {
  max-width: 39em;
  line-height: 26em;
  width: 100%;
  vertical-align: middle;
  display: inline-block; }

.apercu-photo-conteneur > .apercu-photo {
  max-width: 26em;
  vertical-align: middle;
  display: inline-block; }

.apercu-fichier-conteneur > .apercu-fichier {
  display: inline-block; }

.apercu-audio-conteneur {
  text-align: center;
  display: inline-block; }

.details-media-conteneur {
  display: inline-block;
  vertical-align: top;
  margin: .5em 1em; }
  .details-media-conteneur .bouton {
    margin: .5em 0; }
  .details-media-conteneur object {
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #e0e0e0; }

.details-media {
  width: 100%; }

.toolbox .media_apercu .apercu-photo-conteneur,
.toolbox .media_apercu .apercu-fichier-conteneur,
.toolbox .media_apercu .apercu-video-conteneur {
  width: 21em;
  min-height: 20.3333em; }

.media-list {
  text-align: center; }
  .media-list .message {
    text-align: left; }

.media_apercu {
  display: inline-block;
  width: 40%;
  vertical-align: top; }
  .media_apercu img {
    max-width: 100%; }
  .media_apercu .details-media-conteneur {
    margin: .5em 0; }

.js .media-gallery img {
  cursor: pointer; }

.media_source {
  border-bottom: 1px solid #e1e1e1;
  padding: 1em 0; }

.media {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  display: inline-block;
  width: 16.667em;
  height: 16.667em;
  padding: 0.833em;
  margin: 0.333em;
  border: 1px solid #e0e0e0;
  vertical-align: top;
  position: relative; }
  .media.insertion, .media.selection {
    height: 13.8em; }
  .media .content-wrapper {
    display: table;
    width: 16.667em;
    height: 9.833em;
    table-layout: fixed; }
    .media .content-wrapper .apercu-conteneur {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background: #e0e0e0; }
      .media .content-wrapper .apercu-conteneur img {
        display: inline-block;
        max-width: 100%;
        max-height: 9.4em; }
      .media .content-wrapper .apercu-conteneur.clickable:hover {
        cursor: pointer;
        outline: 2px solid #0091B5; }
  .media .description {
    display: inline-block;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    margin: .5em 0;
    line-height: 2em; }
  .media .actions {
    position: absolute;
    width: 16.333em;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: .5em 1em 1em; }

.media_pagination > .bouton {
  display: inline-block;
  margin: 1em; }
.media_pagination > .bouton.prev {
  margin: 1em .45em;
  float: left; }
.media_pagination > .bouton.next {
  float: right; }

.liste-fichier {
  display: inline-block;
  margin: 0 0 1.5em;
  vertical-align: top; }
  .liste-fichier > input[type="input"] {
    margin: 0 .5em 0 0; }
  .liste-fichier td {
    vertical-align: middle; }
    .liste-fichier td > input[type="button"] {
      padding: .39em; }

.media_vignette_input {
  display: inline-block;
  vertical-align: top;
  max-width: 100%; }
  .media_vignette_input img {
    max-width: 100%; }

.outils_contenu li {
  border-top: 2px dotted #ccc;
  height: 6em;
  margin: 0;
  overflow: hidden;
  padding: .5em; }
  .outils_contenu li:first-child {
    border: 0; }
  .outils_contenu li.inactif {
    background: #eeeeee url(img/rayures25pourcent.png); }
  .outils_contenu li .extension > div {
    display: inline-block;
    vertical-align: top; }
  .outils_contenu li .extension .icon {
    margin: 0 .5em 0 0;
    max-height: 64px;
    max-width: 64px; }
  .outils_contenu li .extension .infos {
    max-width: 48em; }
    .outils_contenu li .extension .infos p {
      font-family: inherit;
      font-size: 1em;
      color: #909090; }
      .outils_contenu li .extension .infos p:first-child {
        font-family: inherit;
        font-weight: 700;
        font-size: 1.16667em;
        color: #000; }
        .outils_contenu li .extension .infos p:first-child span {
          font-weight: 500;
          font-size: 1em; }
      .outils_contenu li .extension .infos p a img {
        vertical-align: text-bottom; }
  .outils_contenu li .extension .extension_description {
    display: block;
    min-height: 3em; }
  .outils_contenu li .extension .extension_actions {
    float: right;
    margin: 0.3em 0em 0em 0em; }
    .outils_contenu li .extension .extension_actions > div {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin: 0em 0.2em 0em 0em; }
    .outils_contenu li .extension .extension_actions > a {
      display: inline-block;
      float: right;
      clear: right;
      margin: 2.2em 0em 0em 0em; }
    .outils_contenu li .extension .extension_actions .disabled {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
      opacity: 0.6; }
  .outils_contenu li .extension-modules {
    margin: 0;
    padding: 0 0 0 70px; }
    .outils_contenu li .extension-modules ul {
      margin: 0;
      padding: 0; }
    .outils_contenu li .extension-modules li {
      border-top: 2px dotted #ddd;
      height: auto;
      padding: .5em;
      margin: 0; }
      .outils_contenu li .extension-modules li:first-child {
        border: 0; }
      .outils_contenu li .extension-modules li:hover {
        background: #f9f9f9; }
      .outils_contenu li .extension-modules li .infos {
        display: inline-block; }
        .outils_contenu li .extension-modules li .infos p {
          font-family: inherit;
          font-size: 1em;
          color: #909090; }
          .outils_contenu li .extension-modules li .infos p:first-child {
            color: #000; }
          .outils_contenu li .extension-modules li .infos p a img {
            vertical-align: text-bottom; }
      .outils_contenu li .extension-modules li .extension_actions {
        display: inline-block;
        float: right; }
        .outils_contenu li .extension-modules li .extension_actions .disabled {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
          opacity: 0.5; }
      .outils_contenu li .extension-modules li .extension_description {
        display: block;
        min-height: 3em; }

.kLoader {
  text-align: center; }
  .kLoader p {
    background: #eeeeee;
    display: inline-block;
    border: none;
    vertical-align: middle;
    margin: 1em 0 0 1em;
    padding: 0;
    width: 75%;
    text-align: left; }
  .kLoader img {
    display: inline-block;
    vertical-align: middle;
    margin: 1em 0 0 0; }

li.rights_wrapper {
  border-top: 2px dotted #ccc;
  height: 6em;
  margin: 0;
  overflow: hidden;
  padding: .5em; }
  li.rights_wrapper:first-child {
    border: 0; }
  li.rights_wrapper.inactif {
    background: #eeeeee url(img/rayures25pourcent.png); }
  li.rights_wrapper .title {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.16667em;
    color: #000; }
  li.rights_wrapper .infos {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top; }
  li.rights_wrapper .rights_action {
    float: right;
    margin: .3em 0 0 0; }
  li.rights_wrapper .rights {
    margin: 1em 0;
    padding: 0 0 0 5.5em; }
    li.rights_wrapper .rights .roles_table {
      margin: 1em 0; }
      li.rights_wrapper .rights .roles_table thead tr {
        background: transparent; }
        li.rights_wrapper .rights .roles_table thead tr th {
          text-align: center;
          border-right: 1px solid #ccc;
          vertival-align: middle;
          max-width: 90px; }
          li.rights_wrapper .rights .roles_table thead tr th:first-child {
            border-bottom: none; }
      li.rights_wrapper .rights .roles_table tbody tr td {
        vertical-align: middle;
        text-align: center;
        border-right: 2px solid #fff; }
        li.rights_wrapper .rights .roles_table tbody tr td:first-child {
          width: 168px;
          max-width: 168px;
          text-align: left; }
      li.rights_wrapper .rights .roles_table tbody tr:hover td {
        background-color: #0093b5;
        cursor: pointer; }
        li.rights_wrapper .rights .roles_table tbody tr:hover td:first-child {
          color: #fff;
          background-color: #004c5e;
          position: relative; }
          li.rights_wrapper .rights .roles_table tbody tr:hover td:first-child:hover {
            background-color: #004c5e; }
        li.rights_wrapper .rights .roles_table tbody tr:hover td:hover {
          background-color: #00657c;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: moz-none;
          -ms-user-select: none;
          user-select: none; }
      li.rights_wrapper .rights .roles_table thead + tbody tr:first-child td:first-child {
        border-top: 2px solid #999; }
      li.rights_wrapper .rights .roles_table thead + tbody tr td {
        text-align: center;
        border-right: 1px solid #e1e1e1;
        padding: .5em 0; }
        li.rights_wrapper .rights .roles_table thead + tbody tr td:first-child {
          text-align: left; }
      li.rights_wrapper .rights .roles_table thead + tbody input[type="checkbox"] {
        margin: 0 40%;
        vertical-align: middle; }
  li.rights_wrapper .rights_action {
    float: right;
    margin: 0.3em 0em 0em 0em; }
    li.rights_wrapper .rights_action > div {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin: 0em 0.2em 0em 0em; }
    li.rights_wrapper .rights_action > a {
      display: inline-block;
      float: right;
      clear: right;
      margin: 2.2em 0em 0em 0em; }

#perimetre {
  background: #f1f1f1;
  border: 2px solid #ededed;
  margin: 0 0 1.5em;
  padding: 2em 1em 1em; }

.userfront__tech-info--firstBlock {
  margin-bottom: 1.5em; }

.infobulle {
  background: url("/adminsite/images/help.png") 50% 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom;
  cursor: default; }

#footer {
  box-sizing: border-box;
  margin: 1em auto;
  max-width: 98em;
  padding: 1em;
  position: relative;
  width: 100%; }

#haut_page {
  background: url("img/haut_page.png") no-repeat 0 50%;
  bottom: 2em;
  color: #3c5780;
  font-weight: 700;
  display: inline-block;
  min-height: 2.5em;
  min-width: 2.5em;
  opacity: 0;
  position: fixed;
  right: 5%;
  text-decoration: none;
  z-index: 100; }
  #haut_page span {
    display: none; }

.mise_en_page tr {
  background: transparent; }

table[id^="inner-fichier"] {
  margin: 0; }
  table[id^="inner-fichier"] td {
    padding: .5em 1em .5em 0; }

.resultat {
  margin: 0 0 2em;
  width: 100%; }
  .resultat img {
    vertical-align: middle; }
  .resultat.fiches th.intitule {
    width: 450px; }
  .resultat.fiches th.langue {
    width: 30px; }
  .resultat.fiches th.etat {
    width: 180px; }

.resultat__sous__rubrique {
  margin: 0 0 2em; }
  .resultat__sous__rubrique span {
    float: left;
    cursor: pointer;
    margin-right: 2em; }
  .resultat__sous__rubrique div {
    float: left; }
    .resultat__sous__rubrique div.resultat__fhaut, .resultat__sous__rubrique div.resultat__fbas {
      width: 7%;
      height: 1.7em; }
    .resultat__sous__rubrique div.resultat__rubrique__intitule {
      width: 20%; }
    .resultat__sous__rubrique div.resultat__rubrique__page {
      width: 63%; }
  .resultat__sous__rubrique li {
    clear: both;
    min-height: 1.7em;
    padding: 0.8em; }
    .resultat__sous__rubrique li:nth-child(even) {
      background: #f5f5f5; }

.options {
  display: inline; }
  .options > ul {
    display: inline-block;
    margin: 0 0 1.5em; }
