@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?2fwjfe');
    src:url('fonts/icomoon.eot?#iefix2fwjfe') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2fwjfe') format('truetype'),
    url('fonts/icomoon.woff?2fwjfe') format('woff'),
    url('fonts/icomoon.svg?2fwjfe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
    content: "\ea2e";
}
.icon-remove:before {
    content: "\e612";
}
.icon-slot-empty:before {
    content: "\e613";
}
.icon-incomplete:before {
    content: "\e614";
}
.icon-warning:before {
    content: "\e615";
}
.icon-earth:before {
    content: "\e602";
}
.icon-googleplus:before {
    content: "\e608";
}
.icon-facebook:before {
    content: "\e609";
}
.icon-twitter:before {
    content: "\e60a";
}
.icon-feed:before {
    content: "\e60b";
}
.icon-arrow-up:before {
    content: "\e720";
}
.icon-arrow-up-right:before {
    content: "\e721";
}
.icon-arrow-right:before {
    content: "\e722";
}
.icon-arrow-down-right:before {
    content: "\e723";
}
.icon-arrow-down:before {
    content: "\e724";
}
.icon-arrow-down-left:before {
    content: "\e725";
}
.icon-arrow-left:before {
    content: "\e726";
}
.icon-arrow-up-left2:before {
    content: "\e727";
}
.icon-arrow-up2:before {
    content: "\e728";
}
.icon-arrow-up-right2:before {
    content: "\e729";
}
.icon-arrow-right2:before {
    content: "\e72a";
}
.icon-arrow-down-right2:before {
    content: "\e72b";
}
.icon-arrow-down2:before {
    content: "\e72c";
}
.icon-arrow-down-left2:before {
    content: "\e72d";
}
.icon-arrow-left2:before {
    content: "\e72e";
}
.icon-arrow-up-left3:before {
    content: "\e72f";
}
.icon-arrow-up3:before {
    content: "\e730";
}
.icon-arrow-up-right3:before {
    content: "\e731";
}
.icon-arrow-right3:before {
    content: "\e732";
}
.icon-arrow-down-right3:before {
    content: "\e733";
}
.icon-arrow-down3:before {
    content: "\e734";
}
.icon-arrow-down-left3:before {
    content: "\e735";
}
.icon-arrow-left3:before {
    content: "\e736";
}
.icon-arrow-up-left:before {
    content: "\e71f";
}
.icon-home:before {
    content: "\e600";
}
.icon-pencil:before {
    content: "\e605";
}
.icon-undo2:before {
    content: "\e666";
}
.icon-redo2:before {
    content: "\e667";
}
.icon-forward:before {
    content: "\e668";
}
.icon-reply:before {
    content: "\e669";
}
.icon-twitter2:before {
    content: "\e76d";
}
.icon-feed2:before {
    content: "\e770";
}
.icon-search:before {
    content: "\e67f";
}
.icon-zoomin:before {
    content: "\e680";
}
.icon-zoomout:before {
    content: "\e681";
}
.icon-tag:before {
    content: "\e630";
}
.icon-tags:before {
    content: "\e631";
}
.icon-phone:before {
    content: "\e63c";
}
.icon-calendar:before {
    content: "\e64e";
}
.icon-bubble:before {
    content: "\e66a";
}
.icon-bubbles:before {
    content: "\e66b";
}
.icon-bubbles2:before {
    content: "\e66c";
}
.icon-bubble2:before {
    content: "\e66d";
}
.icon-bubbles3:before {
    content: "\e66e";
}
.icon-bubbles4:before {
    content: "\e66f";
}
.icon-user:before {
    content: "\e670";
}
.icon-users:before {
    content: "\e671";
}
.icon-user3:before {
    content: "\e674";
}
.icon-user4:before {
    content: "\e675";
}
.icon-cog2:before {
    content: "\e690";
}
.icon-cogs:before {
    content: "\e68f";
}
.icon-cog:before {
    content: "\e68e";
}
.icon-wrench:before {
    content: "\e68b";
}
.icon-switch:before {
    content: "\e6b1";
}
.icon-star:before {
    content: "\e6ce";
}
.icon-star2:before {
    content: "\e6cf";
}
.icon-star3:before {
    content: "\e6d0";
}
.icon-menu2:before {
    content: "\e6b8";
}
.icon-menu:before {
    content: "\e6b7";
}
.icon-cloud-download:before {
    content: "\e6bb";
}
.icon-cloud-upload:before {
    content: "\e6bc";
}
.icon-download2:before {
    content: "\e6bd";
}
.icon-upload2:before {
    content: "\e6be";
}
.icon-download3:before {
    content: "\e6bf";
}
.icon-upload3:before {
    content: "\e6c0";
}
.icon-flag:before {
    content: "\e6c4";
}
.icon-eye:before {
    content: "\e6c6";
}
.icon-minus:before {
    content: "\e701";
}
.icon-plus:before {
    content: "\e702";
}
.icon-checkmark:before {
    content: "\e6fe";
}
.icon-checkmark2:before {
    content: "\e6ff";
}
.icon-enter:before {
    content: "\e703";
}
.icon-exit:before {
    content: "\e704";
}
.icon-feed3:before {
    content: "\e771";
}
.icon-twitter22:before {
    content: "\e76e";
}
.icon-twitter3:before {
    content: "\e76f";
}
.icon-feed4:before {
    content: "\e772";
}
.icon-tumblr:before {
    content: "\e792";
}
.icon-tumblr2:before {
    content: "\e793";
}
.icon-googleplus2:before {
    content: "\e764";
}
.icon-googleplus3:before {
    content: "\e766";
}
.icon-googleplus4:before {
    content: "\e767";
}
.icon-facebook2:before {
    content: "\e76a";
}
.icon-facebook3:before {
    content: "\e76b";
}
.icon-home2:before {
    content: "\e601";
}
.icon-pencil2:before {
    content: "\e606";
}
.icon-location:before {
    content: "\e642";
}
.icon-location2:before {
    content: "\e643";
}
.icon-pushpin:before {
    content: "\e641";
}
.icon-compass:before {
    content: "\e644";
}
.icon-map:before {
    content: "\e645";
}
.icon-map2:before {
    content: "\e646";
}
.icon-envelope:before {
    content: "\e640";
}
.icon-print:before {
    content: "\e650";
}
.icon-unlocked:before {
    content: "\e68a";
}
.icon-lock:before {
    content: "\e688";
}
.icon-link:before {
    content: "\e6c3";
}
.icon-attachment:before {
    content: "\e6c5";
}
.icon-bookmark:before {
    content: "\e6c9";
}
.icon-bookmarks:before {
    content: "\e6ca";
}
.icon-info:before {
    content: "\e6f7";
}
.icon-info2:before {
    content: "\e6f8";
}
.icon-cancel-circle:before {
    content: "\e6fa";
}
.icon-checkmark-circle:before {
    content: "\e6fb";
}
.icon-close:before {
    content: "\e6fd";
}
.icon-play3:before {
    content: "\e70a";
}
.icon-pause2:before {
    content: "\e70b";
}
.icon-stop2:before {
    content: "\e70c";
}
.icon-backward2:before {
    content: "\e70d";
}
.icon-forward3:before {
    content: "\e70e";
}
.icon-first:before {
    content: "\e70f";
}
.icon-last:before {
    content: "\e710";
}
.icon-previous:before {
    content: "\e711";
}
.icon-next:before {
    content: "\e712";
}
.icon-newtab:before {
    content: "\e75a";
}
.icon-facebook4:before {
    content: "\e769";
}
.icon-file-pdf:before {
    content: "\e7b2";
}
.icon-file-word:before {
    content: "\e7b4";
}
.icon-file-excel:before {
    content: "\e7b5";
}
.icon-file-xml:before {
    content: "\e7b8";
}
.icon-file-zip:before {
    content: "\e7b6";
}
.icon-file-powerpoint:before {
    content: "\e7b7";
}
.icon-file-openoffice:before {
    content: "\e7b3";
}
.icon-libreoffice:before {
    content: "\e7b1";
}
.icon-newspaper:before {
    content: "\e604";
}
.icon-clock:before {
    content: "\e648";
}
.icon-clock2:before {
    content: "\e649";
}
.icon-share:before {
    content: "\e75e";
}
.icon-googleplus22:before {
    content: "\e765";
}
.icon-mosaic:before {
    content: "\e607";
}
.icon-arrow-down4:before {
    content: "\e603";
}
.icon-minus2:before {
    content: "\e60c";
}
.icon-plus2:before {
    content: "\e60d";
}
.icon-cross:before {
    content: "\e60e";
}
.icon-minus3:before {
    content: "\e60f";
}
.icon-plus3:before {
    content: "\e610";
}
.icon-cross2:before {
    content: "\e611";
}