/*
 * jsTree ksup theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
  
.jstree-ksup{padding:0.5em; clear: right;}

.jstree-ksup li, 
.jstree-ksup ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-ksup li { background-position:-146px 2px; background-repeat:repeat-y; }
.jstree-ksup li.jstree-last { background:transparent; }
.jstree-ksup .jstree-open > ins { background-position: -118px -6px; }
.jstree-ksup .jstree-closed > ins { background-position:-90px -6px; }
.jstree-ksup .jstree-leaf > ins { background-position:-62px -8px; }

.jstree-ksup .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree-ksup .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-ksup a .jstree-icon { background-position:-88px -37px; }
.jstree-ksup a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-ksup.jstree-focused { background:#ffffff; }

.jstree-ksup .jstree-no-dots li, 
.jstree-ksup .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-ksup .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-ksup .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-ksup .jstree-no-icons a .jstree-icon { display:none; }

.jstree-ksup .jstree-search { font-style:italic; font-weight: 700;}

.jstree-ksup .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-ksup .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-ksup .jstree-checked > a > .jstree-checkbox { background-position:-60px -36px; }
.jstree-ksup .jstree-unchecked > a > .jstree-checkbox { background-position:-4px -36px; }
.jstree-ksup .jstree-undetermined > a > .jstree-checkbox { background-position:-32px -36px; }
.jstree-ksup .jstree-checked > a > .jstree-checkbox:hover { background-position:-60px -64px; }
.jstree-ksup .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-4px -64px; }
.jstree-ksup .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-32px -64px; }

#vakata-dragged.jstree-ksup ins { background:transparent !important; }
#vakata-dragged.jstree-ksup .jstree-ok { background:url("d.png") -2px -88px no-repeat !important; }
#vakata-dragged.jstree-ksup .jstree-invalid { background:url("d.png") -34px -88px no-repeat !important; }
#jstree-marker.jstree-ksup { background:url("d.png") -68px -95px no-repeat !important; text-indent:-100px; }

.jstree-ksup a.jstree-search { color:#ff6600; }
.jstree-ksup .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-ksup-context, 
#vakata-contextmenu.jstree-ksup-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-ksup-context li { }
#vakata-contextmenu.jstree-ksup-context a { color:black; }
#vakata-contextmenu.jstree-ksup-context a:hover, 
#vakata-contextmenu.jstree-ksup-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-ksup-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-ksup-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-ksup-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-ksup-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-ksup li, 
.jstree-ksup ins,
#vakata-dragged.jstree-ksup .jstree-invalid, 
#vakata-dragged.jstree-ksup .jstree-ok, 
#jstree-marker.jstree-ksup { _background-image:url("d.gif"); }
.jstree-ksup .jstree-open ins { _background-position:-72px 0; }
.jstree-ksup .jstree-closed ins { _background-position:-54px 0; }
.jstree-ksup .jstree-leaf ins { _background-position:-36px 0; }
.jstree-ksup a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-ksup-context ins { _display:none; }
#vakata-contextmenu.jstree-ksup-context li { _zoom:1; }
.jstree-ksup .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-ksup .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-ksup .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */
