.TplList {
	background-color: #fff;
	border: #dcdcdc 2px solid;
	overflow: auto;
	width: 90%;
}

.TplItem {
	border: #eee 1px solid;
	margin: 5px;
	padding: 7px;
}

.TplItem table {
	display: inline;
	font-size: .81250em; /* 13px sur base 16px */
}

.TplTitle {
	font-weight: 700;
}