img.FCK__Flash
{
	background-image: url(/adminsite/images/medias/flash.png);
}

img.K_TAG
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-repeat: no-repeat;
	width: 27px;
	height: 22px;
}

img.FLV_VIDEO
{
	border: #a9a9a9 1px solid;
}

img.K_TAG_NEWS
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}

img.K_LISTE
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}

img.K_RSS
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}