
// variables

// $dominante : #45567b; // bleu back historique
// $complementaire : #a2c419 ; // vert legend deb330 87A921 #e66b00 / #88aa00 #90c823 / beige eabd3d
$dominante : #3c5780;
// $complementaire : #c9e3e5;
$complementaire : #efd979; // vert deec89
$complementaire2 : #666;
// $complementaire3 : #bbd02a;


//  Couleurs tierces
$couleur1 : #45ab00; // vert submit
$couleur2 : #ff4500; // orange reset
$couleur3 : #0091b5; // bleu button
$couleur4 : #ff8c00; // darkorange focus form
$couleur5 : #ff0; // jaune max

$couleur6 : #9b7c00; // brun archivé d4aa00
$couleur7 : #ff6600; // orange aperçu

$font-family : "arial", "helvetica", "sans-serif";

.dominante {
    background-color: $dominante;
}

.complementaire {
    background-color: $complementaire;
}

.complementaire2 {
    background-color: $complementaire2;
}

// Typo =====================

body {
    background: #fff;
    color: #000;
    font: 500 .75em/1.5 $font-family;
    position: relative;
}

a {
    color: darken($couleur3, 5);
    &:hover {
        color: $couleur3;
    }
    &:focus {
        outline: 1px dotted;
    }
}

h1 {
    // font-size: 1.16667em; 14px
    display: inline-block;
    font-size: 1.33333em; // 16px
    font-weight: 700;
    max-width: 50%;
}

h2,
.h2 {
    border-bottom: 2px solid #e1e1e1;
    font-size: 1.5em;
    font-weight: 700;
    min-height: 1.5em;
    padding: 0 0 .5em;
}

h3,
.h3 {
    border-bottom: 2px dotted;
    font-size: 1.25em;
    font-weight: 700;
    margin: 0 0 1.5em;
    padding: 0;
    position: relative;
}

h4,
.h4 {
    font-size: 1.16667em;
}

h5,
.h5 {
    font-size: 1em;
}

h6,
.h6 {
    font-size: 1em;
}

// Typo secondaire ===========================

b,
strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

acronym {
    cursor: help;
}

// Typo liens et selection ===========================

::-moz-selection{
    background: $dominante;
    color:#fff;
}

::-webkit-selection{
    background: $dominante;
    color:#fff;
}

::selection{
    background: $dominante;
    color:#fff;
}

// Tableaux ===========================

table {
    margin: 0 0 1.5em;
}

caption {
    // background: $complementaire;
    font-weight: 700;
    margin: .5em;
    text-align: center;
}

tr {
    &:nth-child(even) {
            background: #f5f5f5;
        }
        // &:nth-child(odd) {
        //  background: #fff;
        // }
        // &:hover {
        //  outline: 2px solid #ccc;
        // }
}

th {
    font-weight: 700;
    text-align: left;
    padding: .5em;
    vertical-align: top;
    border-bottom: 2px solid #999;
}

td {
    padding: .5em;
    vertical-align: top;
}


// Formulaires ===========================

fieldset,
.fieldset {
    background: #f1f1f1;
    border: 2px solid #ededed;
    margin: 0 0 1.5em;
    padding: 2em 1em 1em;
}

legend {
    background: $complementaire;
    box-shadow: 2px 2px 0 $complementaire - #444444;
    color: #000;
    color: rgba(0,0,0,1);
    font-size: 1em;
    font-weight: 700;
    margin-left: -3em;    min-width: 10em;
    padding: .5em 2em;
    position: relative;
    &:before {
        border-left: 10px solid transparent;
        border-top: 10px solid $complementaire - #444444;
        bottom: -10px; 
        content: "";
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        width: 0;
        z-index: -10;
    }
}

label,
.label {    
    cursor: pointer;
    font-weight: 700;
    vertical-align: text-bottom;
}

select,
.select {
    max-width: 60em;
}

// pour caler les labels vers le haut, aux côtés de ces balises :
textarea,
iframe {
    vertical-align: top;
}

textarea {
    width: 49.16667em;
    max-width: 100%;
}

select,
textarea,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="password"],
input[type="text"],
input[readonly],
button,
.button {
    border: 2px solid #c2c2c2;
    font: 500 1em arial, helvetica, sans-serif;
    padding: .25em;
    text-decoration: none;
    &:focus,
    &:active {
        border-color: $couleur4;
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.submit,
.reset {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: 0;
    margin-left: 0;
    vertical-align: baseline;
}

button,
.button {
    border: 0;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
}

input[type="button"],
.button,
.button:hover {
    background-color: $couleur3;
    cursor: pointer;
}

.button {
    color: #000;
    &:hover {
        color: #000;
    }
}

input[type="submit"],
.submit {
    background: darken($couleur1, 3);
}

input[type="reset"],
.reset {
    background: $couleur2;
}

input[readonly],
.readonly {
    background: #eee;
    color: inherit;
    &:focus,
    &:active {
        border-color: #999;
    }
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  @include border-radius(3px);
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .2em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

//utilitaire pour masquer des blocks 
.masquer {
    display: none;
}

//Le texte reste sur une seule ligne
.text-nowrap {
    white-space: nowrap;
}
