/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
// .clearfix {
//   *zoom: 1;
// }

// .clearfix:before,
// .clearfix:after {
//   display: table;
//   content: "";
//   line-height: 0;
// }

// .clearfix:after {
//   clear: both;
// }

// .hide-text {
//   font: 0/0 a;
//   color: transparent;
//   text-shadow: none;
//   background-color: transparent;
//   border: 0;
// }

// .input-block-level {
//   display: block;
//   width: 100%;
//   min-height: 30px;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

// .dropup,
// .dropdown {
//   position: relative;
// }

// .dropdown-toggle {
//   *margin-bottom: -3px;
// }

// .dropdown-toggle:active,
// .open .dropdown-toggle {
//   outline: 0;
// }

// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   vertical-align: top;
//   border-top: 4px solid #000000;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   content: "";
// }

// .dropdown .caret {
//   margin-top: 8px;
//   margin-left: 2px;
// }

.dropdown-menu {
    @include border-radius(0);
    @include box-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
//   position: absolute;
//   top: 100%;
//   left: 0;
//   z-index: 1000;
//   display: none;
//   float: left;
//   min-width: 160px;
//   padding: 5px 0;
//   margin: 2px 0 0;
//   list-style: none;
//   background-color: #ffffff;
//   border: 1px solid #ccc;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   *border-right-width: 2px;
//   *border-bottom-width: 2px;
//   -webkit-border-radius: 6px;
//   -moz-border-radius: 6px;
//   border-radius: 6px;
//   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -webkit-background-clip: padding-box;
//   -moz-background-clip: padding;
//   background-clip: padding-box;
    &.left:before,
    &.right:before {
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
        display: inline-block;
        left: 10px;
        position: absolute;
        top: -6px;   
    }
    &.right:before {
        left: auto;
        right: 10px;
    }
    > li {
      border-top: 1px solid #eee;
      &:first-child {
        border-top: 0;
      }
    }
}

// .dropdown-menu.pull-right {
//   right: 0;
//   left: auto;
// }

// .dropdown-menu .divider {
//   *width: 100%;
//   height: 1px;
//   margin: 9px 1px;
//   *margin: -5px 0 5px;
//   overflow: hidden;
//   background-color: #e5e5e5;
//   border-bottom: 1px solid #ffffff;
// }

.dropdown-menu > li > a {
  // display: block;
  // padding: 3px 20px;
  // clear: both;
  // font-weight: normal;
  // line-height: 20px;
  color: darken($couleur3, 5);
  text-decoration: none;
  // white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: underline;
  color: darken($couleur3, 5);
  background: none transparent;
  // background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  // background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  // background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  // background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  // background-repeat: repeat-x;
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

// .dropdown-menu > .active > a,
// .dropdown-menu > .active > a:hover,
// .dropdown-menu > .active > a:focus {
//   color: #ffffff;
//   text-decoration: none;
//   outline: 0;
//   background-color: #0081c2;
//   background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
//   background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
//   background-image: -o-linear-gradient(top, #0088cc, #0077b3);
//   background-image: linear-gradient(to bottom, #0088cc, #0077b3);
//   background-repeat: repeat-x;
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
// }

// .dropdown-menu > .disabled > a,
// .dropdown-menu > .disabled > a:hover,
// .dropdown-menu > .disabled > a:focus {
//   color: #999999;
// }

// .dropdown-menu > .disabled > a:hover,
// .dropdown-menu > .disabled > a:focus {
//   text-decoration: none;
//   background-color: transparent;
//   background-image: none;
//   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
//   cursor: default;
// }

// .open {
//   *z-index: 1000;
// }

// .open > .dropdown-menu {
//   display: block;
// }

// .dropdown-backdrop {
//   position: fixed;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   z-index: 990;
// }

// .pull-right > .dropdown-menu {
//   right: 0;
//   left: auto;
// }

// .dropup .caret,
// .navbar-fixed-bottom .dropdown .caret {
//   border-top: 0;
//   border-bottom: 4px solid #000000;
//   content: "";
// }

// .dropup .dropdown-menu,
// .navbar-fixed-bottom .dropdown .dropdown-menu {
//   top: auto;
//   bottom: 100%;
//   margin-bottom: 1px;
// }

// .dropdown-submenu {
//   position: relative;
// }

// .dropdown-submenu > .dropdown-menu {
//   top: 0;
//   left: 100%;
//   margin-top: -6px;
//   margin-left: -1px;
//   -webkit-border-radius: 0 6px 6px 6px;
//   -moz-border-radius: 0 6px 6px 6px;
//   border-radius: 0 6px 6px 6px;
// }

// .dropdown-submenu:hover > .dropdown-menu {
//   display: block;
// }

// .dropup .dropdown-submenu > .dropdown-menu {
//   top: auto;
//   bottom: 0;
//   margin-top: 0;
//   margin-bottom: -2px;
//   -webkit-border-radius: 5px 5px 5px 0;
//   -moz-border-radius: 5px 5px 5px 0;
//   border-radius: 5px 5px 5px 0;
// }

// .dropdown-submenu > a:after {
//   display: block;
//   content: " ";
//   float: right;
//   width: 0;
//   height: 0;
//   border-color: transparent;
//   border-style: solid;
//   border-width: 5px 0 5px 5px;
//   border-left-color: #cccccc;
//   margin-top: 5px;
//   margin-right: -10px;
// }

// .dropdown-submenu:hover > a:after {
//   border-left-color: #ffffff;
// }

// .dropdown-submenu.pull-left {
//   float: none;
// }

// .dropdown-submenu.pull-left > .dropdown-menu {
//   left: -100%;
//   margin-left: 10px;
//   -webkit-border-radius: 6px 0 6px 6px;
//   -moz-border-radius: 6px 0 6px 6px;
//   border-radius: 6px 0 6px 6px;
// }

// .dropdown .dropdown-menu .nav-header {
//   padding-left: 20px;
//   padding-right: 20px;
// }

// .typeahead {
//   z-index: 1051;
//   margin-top: 2px;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   border-radius: 4px;
// }

// composant de saisie de tag
.label.label-info {
    background-color: #3A87AD;
    cursor: inherit;
    font-weight: normal;
    padding: 0.25em;
    vertical-align: inherit;
}

.bootstrap-tagsinput {
    max-width: 61.5833em;
}

// composant d'upload de fichier
.fichier_simple {
    margin: 0 0 1.5em;

    > .fileupload {
        display: inline-block;
    }
}
