/*
 * Clearfix simple V4
 * Issu du clearfix de Nicolas Gallagher :
 * @doc : http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * @note : Suppression des propriétés spécifiques IE6/7 du fichier original
 */

 %cf {
     &:before {
         content: " ";
         display: table;
     }
     &:after {
         clear: both;
         content: " ";
         display: table;
     }
 }
