.tabs {
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > ul {
    margin: 1.5em auto 0;
  }

  .tabs__item {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em;
  }

  .tabs__link {
    padding: .5em 1em;
    text-decoration: none;

    &:focus {
      background: #fff;
      outline: 1px dotted #e1e1e1;
    }
  }
}

// Horizontal tabs =================
.tabs--horizontal {

  .tabs__item {
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
  }

  .tabs__item--active {
    background: #fff;
    margin-bottom: -1px;
  }
}

// Vertical tabs =================
.tabs--vertical {

  .tabs--item {
    display: block;
  }

  .tabs__link {
    display: block;
    padding: .5em 1em;
    width: 100%;

    &:hover {
      background: #f2f2f2;
    }
  }

  .tabs__item--active {
    background: #f2f2f2;
    .tabs__icon--normal {
      display: none;
    }
    .tabs__icon--highlight {
      display: block;
    }
  }
}

.tabs__panel {
  display: none;
}

.tabs__panel--active {
  display: block;
}

.tabs__icon {
  display: inline-block;
  height: 24px;
  margin: 0 .5em 0 0;
  vertical-align: bottom;
  width: 24px;

  .tabs__icon--highlight {
    display: none;
  }
}



//front components
.components__ckeditor {
  margin-bottom: 1rem;
  label, .label {
    &.colonne {
      width: auto;
    }
  }
}