
// Elements formulaires ==================================

label,
.label {
    &.colonne {
        display: inline-block;
        line-height: 2em;
        width: 15em;
        vertical-align: top;
        
        &.non-cliquable {
            cursor: default !important;
        }
        
        &.large {
            width: 28em;
        }
        
        + dd {
            display: inline-block;
            width: 49em;
        }
    }
    
}

.boite {
    display: inline-block;
    padding: 0 1%;
    vertical-align: top;
    width: 47.8%;

    .colonne{
        width: 5em;
    }
}

.unique {
    width: 98%;
    .colonne {
        width: 7em;
    }
}

.retrait {
   margin-left: 15em; 
}

form,
.content-deco {
    > p,
    fieldset > p,
    .fieldset > p,
    .col > p {
        margin: 0 0 1.5em;
        &.retrait {
            @extend .retrait;
        }
    }
}

// Liste de choix ==========================
// à utiliser pour poser un bloc de contenu (par ex. plusieurs champs) en regard d'un label ou faux-label,
// lorsque l'on souhaite mettre ces motifs en colonne principalement.

.en_ligne{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 1.5em
}

// Modif de colonnes========================

[class*="_colonne"] > *{
    display: inline-block;
    vertical-align: top;
}

.deux_colonne > * {
    width: 50%;
}

.trois_colonne > * {
    width: 33.33333%;
}

.quatre_colonne > * {
    width: 25%;
}