/***
 * Grille de mise en page _responsive et mobile first_:
 * La grille est composée de **12 colonnes** disponibles
 * sur cinq dimensions d’écran. Elle permet de créer des mises
 * en page différentes selon le type de terminal qui consulte
 * le service.
 *
 * <div class="msg msg--success text--warn">
 * <div class="msg__title">À noter</div>
 * <div class="msg__content">Les classes propres à la grille sont à attacher
 * sans aucune surchage de styles et sur des éléments
 * sémantiquement neutres (`div, span`) et n’utilisant
 * pas d’autres classes du guide des styles.
 * </div>
 * </div>
 *
 *
 */
.layout.container-grid {
  &.container {
    margin-right: $gutter/2;
    margin-left: $gutter/2;
    margin-top: $gutter;
    @extend %cf;

    @media(min-width: $screen-md) {
      margin-right: $gutter;
      margin-left: $gutter;
      margin-top: $gutter;
    }

    &--full {
      margin: 0;
    }

    &--no-toolbar {
      margin-top: $gutter * 2.5;
    }

    &--bounded {
      width: calc(100vw - 64px); /* 2 x 32 $gutter */
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px; /* @TODO : Estimer la bonne valeur */
    }

  }

  /**
   * Rangées et colonnes :
   * Une mise en page et un ensemble de rangées et de colonnes.
   *
   * `.row` - Un conteneur neutre pour créer
   * des rangées de la grille.
   * Cet élément ne peut contenir d’autre
   * choses que des éléments de la grille
   * de mise en page (`.col--xx-x`).
   * `.col--xx-x` - Une colonne.
   *
   *
   *     @example
   *     .container
   *      .row
   *      | Une <i>rangée</i>
   *
   */

  .row {
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
    margin-bottom : $gutter / 2;
    min-height: $slotHeight;
    &.highlight{
      border: 2px dotted lightgrey;
      padding-bottom : $slotHeight;

    }
    @extend %cf;
  }


  /**
   * Colonne :
   * **`.col--$disponibilite-$repartition`** : Une colonne. La nomenclature
   * d’une colonne est composée de la manière suivante :
   *
   *
   * **Disponibilite**
   *
   *
   * La dimension de disponibilité de la colonne. La classe se déclenche à partir
   * d’un certaine dimension et va jusqu’à ∞. Les valeurs possibles sont
   * `xs, sm, md, lg, xl`, chacune de ces valeurs représentant un point de rupture.
   *
   * **Les points de rupture**
   *
   *
   * * **xs** : Extra-small. 0 à <544px. Mobile vertical.
   * * **sm** : ≥544px. Phablets ou mobile horizontal.
   * * **md** : ≥768px. Tablette verticale ou _phablet_ horizontale.
   * * **lg** : ≥992px. Ordinateur de bureau standard ou tablette horizontale.
   * * **xl** : ≥1200px. Pour les heureux pocesseurs d’écran aux proportions généreuses.
   *
   * **Répartition**<br>
   * La répartition représente le nombre de colonnes que va occuper
   * le bloc sur la grille, de 1 à 8. Cette valeur représente une proportion de
   * la largeur totale disponible.
   *
   *
   * Ex. Un élément qui porte la classe `.col--xs | sm | md | lg | xl-6` est
   * en réalité un élément qui fait 50% de son élément parent sur les différents
   * points de rupture.
   *
   *
   *
   *     @example.panel
   *     .container
   *      h3 Dimensions des colonnes
   *      .row
   *       .col--xs-1
   *          .panel.panel--outlined.text--center 1
   *       .col--xs-11
   *          .panel.panel--outlined.text--center 11
   *      .row
   *       .col--xs-2
   *          .panel.panel--outlined.text--center 2
   *       .col--xs-10
   *          .panel.panel--outlined.text--center 10
   *      .row
   *       .col--xs-3
   *          .panel.panel--outlined.text--center 3
   *       .col--xs-9
   *          .panel.panel--outlined.text--center 9
   *      .row
   *       .col--xs-4
   *          .panel.panel--outlined.text--center 4
   *       .col--xs-8
   *          .panel.panel--outlined.text--center 8
   *      .row
   *       .col--xs-5
   *          .panel.panel--outlined.text--center 5
   *       .col--xs-7
   *          .panel.panel--outlined.text--center 7
   *      .row
   *       .col--xs-6
   *          .panel.panel--outlined.text--center 6
   *       .col--xs-6
   *          .panel.panel--outlined.text--center 6
   *      .row
   *       .col--xs-12
   *          .panel.panel--outlined.text--center 12
   *
   *      h3 Exemple de grille disponibles de 0 à ∞
   *      .row
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *       .col--xs-3
   *          .panel.panel--outlined.text--center .col--xs-3
   *
   *      h3 Exemple de grille disponible à partir de 544px (Phablet ou mobile horizontal)
   *      .row
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *       .col--sm-3
   *          .panel.panel--outlined.text--center .col--sm-3
   *
   *      h3 Grille disponible à partir de 992px
   *      .row
   *       .col--lg-6
   *          .panel.panel--outlined.text--center .col--lg-6
   *       .col--lg-6
   *          .panel.panel--outlined.text--center .col--lg-6
   *
   *
   */

  [class*=col--],
  [class*=push--] {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    min-height: 1px;
    position: relative;
  }

  @include make-grid($cols, $gutter);

  @include make-grid-break();

  /**
   * Grilles imbriquées :
   * `.row` : Il est nécessaire d’insérer un `div.row` à chaque niveau d’imbrication
   *
   * **Colonnes responsives**<br>
   *
   * Les classes des colonnes peuvent être cumulées pour fournir
   * des répartitions variables selon la dimension de l’écran.
   * Par exemple proposer un bloc de huit colonnes (100%) sur un mobile
   * qui devient un bloc de quatre colonnes sur un ordinateur de bureau. Ex. `div.col--xs-8.col--lg-4`
   *
   *
   * **Les classes sont à ordonner selon l’ordre logique des points de rupture.**
   *
   * Les colonnes peuvent être imbriquées. Cett imbrication passera forcément par l’ajout d’un élément `.row` afin d’y insérer
   * les colonnes descendantes.
   *
   *     @example
   *     .container
   *       .row
   *        .col--lg-6.col--xl-12
   *          .panel.panel--outlined
   *            h4.panel__title--sm Un bloc ici
   *            .row
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="nom_grille_imbriquee") Votre nom
   *                   input.form__control(id="nom_grille_imbriquee", placeholder="Ex. Dupont", type="text")
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="prenom_grille_imbriquee") Votre Prénom
   *                   input.form__control(id="prenom_grille_imbriquee", placeholder="Ex. Euthanagor", type="text")
   *        .col--lg-6.col--xl-12
   *          .panel.panel--outlined
   *            h4.panel__title--sm Un bloc ici
   *            .row
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="nom_grille_imbriquee2") Votre nom
   *                   input.form__control(id="nom_grille_imbriquee2", placeholder="Ex. Duchamp", type="text")
   *              .col--xl-6
   *                 .form__line
   *                   label.form__label(for="prenom_grille_imbriquee2") Votre Prénom
   *                   input.form__control(id="prenom_grille_imbriquee2", placeholder="Ex. Gweltaz", type="text")
   *
   */

  /**
   * Grille sans gouttière :
   * `.row--full, .col--full` : Pour la rangée et les colonnes.
   *
   *
   *     @example.light
   *     .container
   *        .row.row--full
   *          .col--xs-12.col--full
   *             .panel.panel--outlined.text--center .col--xs-12.col--full
   *        .row.row--full
   *          .col--xs-2.col--full
   *             .panel.panel--outlined.text--center .col--xs-2.col--full
   *          .col--xs-10.col--full
   *             .panel.panel--outlined.text--center .col--xs-10.col--full
   *        .row.row--full
   *          .col--xs-3.col--full
   *             .panel.panel--outlined.text--center .col--xs-3.col--full
   *          .col--xs-9.col--full
   *             .panel.panel--outlined.text--center .col--xs-9.col--full
   *        .row.row--full
   *          .col--xs-4.col--full
   *             .panel.panel--outlined.text--center .col--xs-4.col--full
   *          .col--xs-8.col--full
   *             .panel.panel--outlined.text--center .col--xs-8.col--full
   *
   */

  .row--full {
    margin: auto;
    @extend %cf;
  }

  .col--full,
  .push--full {
    padding: 0;
  }

  /**
   * Push gauche :
   * `.push-xx-x` : pour créer un retrait à gauche. Fonctionne comme les colonnes, au sein de rangées `.row`
   * Pour effectuer un retrait équivalent à 2 colonnes en format medium par exemple, utiliser `.push--md-2`.
   *
   * IMPORTANT : ne pas utiliser ces classes hors de rangées `.row`.
   *
   *
   *     @example.light
   *     .container
   *        .row.row--full
   *          .col--xs-12.col--full
   *             .panel.panel--outlined.text--center .col--xs-12.col--full
   *        .row.row--full
   *          .push--xs-2.col--full
   *          .col--xs-10.col--full
   *             .panel.panel--outlined.text--center .col--xs-10.col--full précédé d'un .push--xs-2
   *        .row.row--full
   *          .col--xs-3.col--full
   *             .panel.panel--outlined.text--center .col--xs-3.col--full
   *          .col--xs-9.col--full
   *             .panel.panel--outlined.text--center .col--xs-9.col--full
   *        .row.row--full
   *          .col--xs-2.col--full
   *             .panel.panel--outlined.text--center .col--xs-4.col--full
   *          .push--xs-2.col--full
   *          .col--xs-8.col--full
   *             .panel.panel--outlined.text--center .col--xs-8.col--full avec .push--xs-2 intercalaire
   *
   */

  /**
   * Pull-right :
   * `.pull-right` : Pour amener un élément à flotter à droite
   *
   *
   */

  .pull-right {
    float: right;
  }

  // Modificateurs pour utiliser des grilles en display flex

  .row--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    margin: 0;
    width: 100%;

    // Suppression des before-after créés pour le display bloc des colonnes normales,
    // afin de ne pas interferer dans une disposition flex.
    &:before,
    &:after {
      display: none;
    }
  }

  .col--flex {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;

    float: none;
    // vertical-align: top;
    padding: $gutter/2;
  }

  .row--equal-height {
    display: flex;
  }

  // Modificateurs pour ajouter des bordures verticales aux colonnes (et ainsi les séparer visuellement)

  .col--border {
    border-right: 1px solid $color--comp--light;
  }

  /**
  * Rupture de colonnes :
  * Ce mécanisme sert à provoquer des ruptures entre colonnes, sans avoir recours
  * à une nouvelle rangée.
  *
  * Les ruptures s'opèrent entre 2 breakpoints,
  * sauf pour la dernière rupture, qui va du breakpoint xl à l'infini.
  *
  * Illustration :<br>
  * soit une rangée de 12 colonnes.<br>
  * Si on place une classe `.col-break--md` sur la 7e colonne (6 + 1 = la moitié + 1)
  * Alors, entre les breakpoint `sm` et `md`, on obtiendra une rangée coupée en 2
  * et simulant graphiquement 2 rangées de 6 colonnes.
  *
  * Ce mécanisme est par exemple utilisé sur l'écran listant les dossiers partagés.
  *
  * `.col-break--xs` : rupture de 0 à x-small
  *
  * `.col-break--sm` : rupture de x-small à small
  *
  * `.col-break--md` : rupture de small à medium
  *
  * `.col-break--lg` : rupture de medium à large
  *
  * `.col-break--xl` : rupture de large à l'infini
  *
  *     @example
  *     .panel.panel--outlined
  *       ul.list--unstyled
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 1 rupture .col-break--md
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--lg
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 1 rupture .col-break--lg
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md.col-break--xl
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 2 ruptures .col-break--md et .col-break--xl
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum
  *         li.col--xs-12.col--md-6.col--lg-4.col--xl-3.col-break--md.col-break--lg
  *             .panel.panel--outlined
  *               p.p-like lorem ipsum avec 2 ruptures .col-break--md et .col-break--lg
  */


  /*
    CSS pour les descriptions des slots des containers grids.

  */

}
// Debug des breakpoints
body.responsive-debug:before {
  content: " ";
  display: block;
  padding: .5rem;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  background-color: darkorange;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

@include make-responsive-debug();
