$slate--light:                #d7dee2; // ardoise claire-grise


$color--comp--light:          $slate--light;


// ===================================================================
// Valeurs de la grille de mise en page
// ===================================================================

$cols:                       12; // 1rem
$gutter:                     16px; // 2rem

// @todo: Voir des BP en rem
$screen-xs: 0;
$screen-sm: 544px;  // 34rem
$screen-md: 768px;  // 48rem
$screen-lg: 992px;  // 62rem
$screen-xl: 1200px; // 75rem

$grid-breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
) !default;


