// For the zen grid to work properly
$zen-gutter-method: margin;
$zen-gutter-width: 0;


// Compute a bunch of class to manage column spans
@mixin columnSpans($columns) {
  @for $i from 2 through $columns {
    .layout__slot--columnspan#{$i} {
      @include zen-grid-flow-item($i);
    }
  }
}

// Compute a bunch of class to manage row spans
@mixin rowSpans($rows, $height) {
  @for $i from 2 through $rows {
    .layout__slot--rowspan#{$i} {
      height: $i * $height;
    }
  }
}
