@import "compass/css3/box-shadow";
@import "layout-variables";
@import "layout-utils";
@import "layout-mixins";
@import "layout-grid";

@import "layout-legacy";
// Layout manager ================================
.layout-manager {
  position: relative;

  .ui-dialog {
    background: #fff;
    @include transition-property(height);
    @include transition-timing-function(ease);
    @include transition-duration(0.2s);
  }

  .tooltip {
    font-size: 1.2em;
  }
}

.layout-manager__edit-mask {
  background-color: rgba(0, 0, 0, .6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.layout-manager__edit-mask--inactive {
  display: none;
}

.layout-manager__edit-mask--active {
  display: block;
  z-index: 10;
}

// Edit wrapper ============================
.layout-manager__edit-wrapper {
  border-top: 1px solid #ccc;
  margin: 1em 0;

  .dropdown-toggle {
    max-width: 40em;
    text-align: left;
    width: 40em;
    .cards-selector__item {
      border-bottom: 0;
    }

    &:disabled {
      background-image: none;
      color: #000;
    }
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
  }
}

.layout-manager__edit-wrapper--inactive {
  display: none;
}

.layout-manager__edit-wrapper--active {
  display: block;
}

.layout-manager__edit-cards-selector {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

// Cards views
.card-viewBo {
  display: none;
}

// Cards selector
.cards-selector {
  display: inline-block;
}

.cards-selector__item {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  button {
    padding: .25em;
    text-align: left;
    width: 100%;
  }

  img {
    display: inline-block;
    float: left;
    min-height: $icon-size;
    max-height: $icon-size;
    min-width: $icon-size;
    max-width: $icon-size;
    margin: .15em .25em .3em 0;
  }

  + .cards-selector__item {
    border-left: 1px solid #ccc;
  }
}

.cards-selector__item--inactive {
  display: none;
}

.cards-selector__item--active {
  display: block;
}

.cards-selector__item-infos {
  margin: .25em;
  vertical-align: top;

  .description {
    font-weight: 500;
  }
}

// Card forms
.card-forms {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 1em 0;
  width: 100%;

  p {
    margin: 1em 0;
  }
}

.card-forms__edit-panel--inactive {
  display: none;
}

.card-forms__edit-panel--active {
  display: block;
}

// Layout styles =================================

// Common
.slot {
  height: $slotHeight;
  padding: .25em !important;
}

// siteCom layout


// sitePortail layout


// Status ================================
.layout__slot-status {
  border: 2px solid #ccc;
  box-sizing: border-box;
  display: table;
  font-size: 3.4em;
  height: 100%;
  text-align: center;
  width: 100%;

  .icon {
    display: table-cell;
    vertical-align: middle;
  }
}

.layout__slot--filled {
  .layout__slot-status {
    background: #f1f1f1;

    .icon {
      display: block;
      font-size: .75em;
      position: absolute;
      right: .3em;
      top: .3em;
    }
  }
}

*:focus {
  .layout__slot-status {
    border: 0;
  }
}

.layout__slot-status--empty {
  border-style: dashed;
  color: #3c3c3c;
}

.layout__slot-status--error {
  color: #DB4343;
}

.layout__slot-status--warning {
  color: #eb8800;
}

.layout__slot-status--checked {
  color: #439C43;
}

.layout__slot-status--incomplete {
  color: #FFC200;
}

// Slot styles ====================================
.layout__slot {
  @include transition-property(all);
  @include transition-timing-function(ease);
  @include transition-duration(0.2s);
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  height: $slotHeight;
  overflow: hidden;
  position: relative;

  &:hover, &:focus {
    @include box-shadow(#575757 0 0 20px);
    @include scale(1.05);
    z-index: 15;

    .layout__slot-status {
      border: 0;
    }
  }

  .layout__slot-button {
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    &:hover {
      background: transparent;
    }
  }
}

.layout__card-model {
  box-sizing: border-box;
  height: 100%;
  resize: none;
}

.js .layout__card-model {
  display: none;
}

.layout__slot--focus {
  @include box-shadow(rgba(white, 0.4) 0 0 25px);
  @include scale(1.05);
  border: 2px solid #fff;
  z-index: 15;
}

// Cards
.card {
  color: #3c3c3c;
  display: table-cell;
  font-size: .45em;
  padding: .25em .3em;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}

// Toolbars styles ===============================
.layout__slot-toolbar {
  bottom: .5em;
  position: absolute;
  right: .5em;
  z-index: 100;
}

.layout__slot-toolbar-button {
  height: 2em;
  padding: 0;
  width: 2em;

  .icon {
    font-size: 1.3em;
    margin: 0;
  }
}

.layout__slot-toolbar-button--edit {
  @extend .layout__slot-toolbar-button;
  .icon {
    color: #DD9500;
  }
}

.layout__slot-toolbar-button--empty {
  @extend .layout__slot-toolbar-button;
  .icon {
    color: #C00000;
  }
}

.layout {
  .slot-description {
    > span {
      display: none;
    }
    &.icon.icon-slot-empty {
      font-size: 1rem;
      padding: 1rem;
      > span {
        font-family: $font-family;
        display: inline;
      }
      &::before {
        margin-right: 0.5rem;
      }
    }
  }
}