%kosmos-inline-block{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    // *vertical-align: auto;
    zoom: 1;
    // *display: inline;
}

// ===================================

.liste__horizontale {
    @extend %kosmos-inline-block;
    vertical-align: top;
    width: 60.66667em;
}

.liste__horizontale--2 {
    > li {
        width: 50%;
    }
}

.liste__horizontale--3 {
    > li {
        width: 33%;
    }
}

.liste__horizontale--4 {
    > li {
        width: 25%;
    }
}

.liste__horizontale--item {
    @extend %kosmos-inline-block;
}

// ===================================

.titre_tableau {
    border: 0;
    font-size: 1.08333em;
    font-weight: 700;
    margin: 0 0 .5em;
}

// Messages d'erreur ====================================

.message {
    //background-color: #fff;
    // border: 2px solid #ccc;
    font-weight: 700;
    padding: .5em;
    line-height: 2em;
}

// .information {
//     border-color: #c9e3e5;
//     background: #c9e3e5;
// }

.information,
.avertissement {
    // border-color: #09c;
    // background: #d1eff9;
    background: #bfdcea;
}

.erreur {
    // border-color: #f00;
    background: #fce5e5;
    background: #ffb2b3;
}

.alerte {
    // border-color: #ffb622;
    // background: #fcefd6;
    background: #ffe994;
}

.confirmation {
    // border-color: #b8f04c;
    // background: #e2f7b9;
    background: #c6ef88;
}

// =================

.etat {
    white-space: nowrap;
    span {
        // background: #ccc url(img/etat.png) no-repeat 100% 50%;
        @include border-radius(1em 1em);
        display: inline-block;
        margin-left: 0;
        margin-right: .25em;
        position: relative;
        width: 1.2em;
        height: 1.2em;
        // &:before {
        //     border-left: 10px solid transparent;
        //     border-top: 10px solid $complementaire - #444444;
        //     bottom: -10px; 
        //     content: "";
        //     display: block;
        //     height: 0;
        //     left: 0;
        //     position: absolute;
        //     width: 0;
        //     z-index: -10;
        // }
    }

    .brouillon {
        background-color: $couleur4 + #111111;
        &:before {
            border-top-color: $couleur4 - #444444;
        }
    }

    .avalider {
        background-color: $couleur1 + #333333;
        &:before {
            border-top-color: $couleur1 - #444444;
        }
    }

    .enligne {
        background-color: $couleur1;
        &:before {
            border-top-color: $couleur1 - #444444;
        }
    }

    .asupprimer {
        background-color: $couleur2 - #111111;
        &:before {
            border-top-color: $couleur2 - #444444;
        }
    }

    .apercu {
        background-color: $couleur7;
        &:before {
            border-top-color: $couleur7 - #444444;
        }
    }

    .sauvegardeautomatique {
        background-color: $couleur3;
        &:before {
            border-top-color: $couleur3 - #444444;
        }
    }

    .archive {
        background-color: $couleur6;
        &:before {
            border-top-color: $couleur6 - #444444;
        }
    }
}

table {
    .enligne,
    .brouillon,
    .sauvegardeautomatique,
    .archive,
    .asupprimer,
    .avalider,
    .apercu {
        &:before {
            @include border-radius(10px);
            content: "";
            display: inline-block;
            height: .75em;
            margin: 0 .25em 0 0;
            vertical-align: middle;
            width: .75em;

        }
    }

    .brouillon {
        &:before {
            background: $couleur4 + #111111;
        }
    }

    .avalider {
        &:before {
            background: $couleur1 + #333333;
        }
    }

    .enligne {
        // color: $couleur1;
        &:before {
            background: $couleur1;
        }
    }

    .asupprimer {
        // color: $couleur2;
        &:before {
            background: $couleur2 - #111111;
        }
    }

    .apercu {
        // color: $couleur2;
        &:before {
            background: $couleur7;
        }
    }

    .sauvegardeautomatique {
        // color: $couleur3;
        &:before {
            background: $couleur3;
        }
    }

    .archive {
        // color: $couleur4 - #333;
        &:before {
            background: $couleur6;
        }
    }
    
    .nombre {
        text-align: right;
    }

    &.publicsVises__restrictions {
        background: transparent;

        #publicsVises__restrictions--rubrique {
        }

        tr {
            background: transparent;
        }

        th {
            border: 0;
            font-size: 1.08333em;
        }

        td {
            padding: .25em .5em;
            &:first-child {
                display: inline-block;
                overflow: hidden;
                padding: .25em 3em .25em .5em;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 30em;
            }
        }

        span {
            font-size: 2em;
            line-height: .5;
            vertical-align: middle;
        }
        @for $i from 1 through 20 {
            .retrait_#{$i} {
                padding-left: 1em * $i;
            }
        }
    }
}

#div-diffusion {
    h3 {
        margin: 0 0 .5em;
    }
}

// Typographie ===========================================

.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cartouche {
        @include border-radius(3px);
        background: #eee;
        // border: 2px solid #eee;
        border: 0;
        padding: .25em 1em;
        &:after {
            border-color: #eee #fff #fff;
            border-style: solid solid none;
            border-width: 8px 10px 0;
            top: 30px;
            content: "";
            font-size: 0;
            left: 24px;
            line-height: 0;
            margin: 0 0 0 -10px;
            position: absolute;
            width: 0;
        }
    }

// dialog de confirmation sur les actions ===================

#dialogRefuser {
    display: none;
}

// Boutons, faux boutons =================================

button,
.button {
    background: no-repeat 0.5em 50%;
    padding: .25em .5em .25em 2em;

    &.dropdown-toggle {
        background: #eee no-repeat 96% 50%;
        padding: .25em 2em .25em .5em;
    }

    &:hover {
        background-color: #eee;
    }

    &.neutre {
        background: transparent no-repeat .25em 50%;
        color: inherit;
        // padding-left: 1.8em;
        padding-left: .5em;
    }

    &.traduction {
        background-image: url(img/16x16/traduire.png);
    }
    
    &.dupliquer {
        background-image: url(img/16x16/dupliquer.png);
    }

    &.archiver {
        background-image: url(img/16x16/archiver.png);
    }

    &.enregistrer {
        background-image: url(img/16x16/enregistrer.png);
    }

    &.publier {
        background-image: url(img/16x16/publier.png);
    }

    &.brouillon {
        background-image: url(img/16x16/brouillon.png);
    }

    &.supprimer {
        background-image: url(img/16x16/supprimer.png);
    }

    &.modifier {
        background-image: url(img/16x16/modifier.png);
    }

    &.apercu {
        background-image: url(img/16x16/apercu.png);
    }

    &.refuser {
        background-image: url(img/16x16/refuser.png);
    }

    &.arborescence {
        background-image: url(img/16x16/arborescence.png);
    }

    &.archiver {
        background-image: url(img/16x16/archiver.png);
    }

    &.derouler {
        background-image: url(img/16x16/derouler.png);
    }

    &.dupliquer {
        background-image: url(img/16x16/dupliquer.png);
    }

    &.enregistrer {
        background-image: url(img/16x16/enregistrer.png);
    }

    &.envoyer {
        background-image: url(img/16x16/envoyer.png);
    }

    &.importer {
        background-image: url(img/16x16/importer.png);
    }

    &.exporter {
        background-image: url(img/16x16/exporter.png);
    }

    &.plus {
        background-image: url(img/16x16/plus.png);
    }

    &.recharger {
        background-image: url(img/16x16/recharger.png);
    }

    &.rechercher {
        background-image: url(img/16x16/rechercher.png);
    }

    &.restaurer {
        background-image: url(img/16x16/restaurer.png);
    }

    &.sauvegarder {
        background-image: url(img/16x16/sauvegarder.png);
    }

    &.supprimer {
        background-image: url(img/16x16/supprimer.png);
    }

    &.telecharger {
        background-image: url(img/16x16/telecharger.png);
    }

    &.traduire {
        background-image: url(img/16x16/traduire.png);
    }

    &.valider,
    &.off {
        background-image: url(img/16x16/valider.png);
    }

    &.on {
        background-image: url(img/16x16/off.png);
    }
    
    &.parametrer{
        background-image: url(img/16x16/parametrer.png);
    }

    &.verrou{
        background-image: url(img/16x16/cadenas.png);
    }

    &.retour{
        background-image: url(img/16x16/retour.png);
    }

    &.telecharger {
        background-image: url(img/16x16/telecharger.png);
    }

    &.changer {
        background-image: url(img/16x16/changer.png);
    }

    &.plier,
    &.deplier,
    &.derouler,
    &.dropdown-toggle{
        background-image: url(img/16x16/derouler.png);
    }
}

.button--content {
  background: inherit;
  background-color: $couleur3;
  color: #fff;
  cursor: pointer;
  margin: .25em;
  padding: .25em;

  &:hover {
    background-color: $couleur3;
    cursor: pointer;
  }
}

// Elements formulaires ==================================

.fieldset_titre {
    border-bottom: 2px solid #ddd;
    font: 700 1.16667em arial, helvetica, sans-serif;
    margin: 0 0 1em;
    padding: 0 0 .25em;
}

.neutre {
    background: transparent;
    border-color: transparent;
}

.validation {
    margin:  2em 0;
    padding: 1em 1em 1em 20%;
    border-top: 2px dotted #d9d9d9;
    a {
        display: inline-block;
        font-weight: 700;
        margin: 0 0 0 1em;
        // padding: .25em .5em;
        // &:hover {
        //     background: #eee;
        // }
    }
}

// =======================================================

 .filtre {
    text-align: right;
    margin: .5em .05em 1.5em;
 }

// =======================================================

#recherche_criteres {
    h3 {
        background: #eee;
        border: 0;
        font-size: 1.16667em;
        // margin: 0 0 0 1.42857em;
        margin: 0;
        border: solid #ddd;
        border-width: 1px 1px 0;
        margin-bottom: -1px;
        padding: .25em 1.42857em 0;
        display: inline-block;
    }
    > div {
        background: #eee;
        border: 1px solid #ddd;
        padding: 1.5em;
        margin: 0 0 2em;
    }
    li {
        // border-top: 2px dotted #ddd;
        display: inline-block;
        margin: 1em .75% 0;
        // padding: 0;
        vertical-align: top;
        width: 48.5%;
        &:first-child,
        &:first-child + li {
            border-top: 0;
            // padding-top: 0;
            margin-top: 0;
        }
        strong {
            display: block;
            padding: 0 0 .08333em;
            margin: 0 0 .08333em;
            text-indent: -1em;
            &:before {
                @include border-radius(1em);
                background: #fff;
                border: 1px solid #666;
                content: "";
                display: inline-block;
                height: 0.75em;
                margin: 0 0.25em 0 0;
                vertical-align: middle;
                width: 0.75em;
            }
        }
    }
    p {
        text-align: right;
        font-weight: 700;
        margin: 0;
        a {
            background: #fff;
            border: 1px solid;
            padding: 0.5em;
            text-decoration: none;
        }
    }
}

// Listes =======================================================

#bulletin_info {
    .riche {
        a {
            max-width: 85%;
        }
    }
}

.riche {
    margin: 0 0 1.5em;

    li {
        border-top: 2px dotted #ddd;
        overflow: hidden;
        padding: .5em 0;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
    }
    
    .drapeau {
        float: left;
        margin: 0.16667em 0.5em 0 0;
    }
    
    .etat span {
        height: 0.75em;
        width: 0.75em;
    }

    a {
        @extend .ellipsis;
        float: left;
        font-weight: 700;
        max-width: 70%;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .type,
    .date {
        color: #666;
        float: right;
        max-width: 35%;
        text-align: right;
        white-space: nowrap;
    }

}

.col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

// ECL ======================================
// ci-après, créer un motif pour un faux "label colonne" avec du contenu long sur sa droite
// le code ci-après est spécifique plugin > agenda, ce qui n'est pas réutilisable

#repeter_le {
    margin: 0 0 1.5em;
    ul {
        display: inline-block;
        position: absolute;
        vertical-align: top;
    }
    li {
        display: inline-block;
        margin: 0 1em 0 0;
    }
}

#recurrence_fin {
    > div {
        display: inline-block;
        vertical-align: top;
    }
    p {
        margin: 0 0 1.5em;
    }
}

// fin ECL ==================================

