// Onglets ==========================================

#onglets {
    box-sizing: border-box;
    font-weight: 700;
    list-style-type: none;
    margin: 1.5em auto 0;
    max-width: 100em;
    padding: 0 1em;
    width: 100%;
    a {
        color: inherit;
        text-decoration: none;
    }

    li {
        background: rgba(255, 255, 255, .5);
        cursor: pointer;
        display: inline-block;
        margin: 0 .5em 0 0;
        padding: .5em 1em;
        &:hover {
            background: #fff;
        }
        &.o_indispo {
            display: none;
        }
        &.active,
        &:active {
            background-color: #fff;
        }
    }
    &[data-ui] {
        li {
            padding: 0;
            a {
                display: inline-block;
                padding: .5em 1em;
            }
        }
    }
}

.ktooltip {
    display: block;
    font-style: italic;
    font-weight: 300;
    &::before {
        background: #0091b5 url("/adminsite/images/help.png") no-repeat;
        background-size: 100% 100%;
        border-radius: 1em;
        content: '';
        display: inline-block;
        height: 1em;
        margin-right: 0.25em;
        width: 1em;
    }
}

button.btn--as-link{
    background:none;
    color:#007d9c;
    border:none;
    padding:0;
    margin:0;
    font: inherit;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
    &:hover,
    &:focus{
        color:$couleur3;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    left: -999em;
}
