@charset "utf-8";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/reset";
@import "compass/utilities/general/hacks";
@import "compass/utilities/general/clearfix";
@import "base";
@import "grille";
@import "motifs";
@import "components";
@import "jquery.dataTables.scss";
@import "jquery.dataTables_themeroller.scss";

hr {
  margin: 1.5em;
}

p {
  margin: 0 0 1.5em;
}

textarea {
  width: auto;
}

label, .label {
  &.colonne {
    width: 11em;
  }
}

p.alert {
  margin-bottom: 1em;
  padding: .5em;
}

.infobulle{
  background: url('/adminsite/images/help.png') 50% 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom;
  cursor: default;
}

.boite {
  padding: 0 .5em 0 0;
  .colonne {
    width: 11em;
  }
}

.tabs--horizontal {

  > ul {
    border-bottom: 2px solid #e5e5e5;
  }
  .tabs__item {
    border: 2px solid #e5e5e5;
    position: relative;
    bottom: -2px;
  }
}

.tabs {
  &.tabs--vertical {
    border-right: 1px solid #f2f2f2;
    bottom: 4em;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 25%;
    z-index: 10;
  }
}

.tabs--vertical {

  .tabs__panel {
    height: 81%;
    overflow-y: auto;
    padding: 0 .25em;
    vertical-align: top;
    width: 100%;
  }
  .tabs__item {
    background: transparent;
    display: block;
    margin: 0;
    padding: 0;
  }
  .tabs__item--active {
    background: #f2f2f2;
    position: relative;
  }
  .tabs__link {
    box-sizing: border-box;
  }
}

.link-editor {
  background: #fff;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 1.5em 1em 0 20.5em;
  width: 100%;
}

.list__edition-panel,
.link__edition-panel {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 25%;
  padding: 0 1em;
  vertical-align: top;
  width: 75%;
}

.link__edition-panel {
  height: 40em;
  overflow-y: auto;
}

.plier-deplier {
  position: relative;
  padding: 0 0 1em;
}

.plier-deplier__bouton {
  position: absolute;
  top: -1em;
  margin: 0;
}

.plier-deplier__contenu {
  padding: 1.5em 0 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.plier-deplier__contenu--clos {
  display: none;
}

.request-iframe,
.rss-iframe {
  height: 32.7em;
  width: 100%;
}

.klist-iframe {
  height: 41.5em;
  width: 100%;
}

.media-iframe {
  height: 34.7em;
  width: 100%;
}

.tags-iframe {
  height: 45em;
  width: 100%;
}

table.dataTable.dynamicDataTable {
  tr {
    &.row--selected {
      outline: 2px solid #efd979;
      td {
        background: #fff;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.button--neutral {
  background: #fff;
  & > .icon {
    color: #007D9C;
  }
}

// Styles propres à la sélection de médias dans la toolbox
.kimage__parameters,
.kflash__parameters,
.kflipbook__parameters{
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33%;
}
.kflipbook__parameters {
  input[type="number"] {
    border: 2px solid #c2c2c2;
    padding: .25em;
    width: 8em;
  }
}
.kimage__parameters-size {
  position: absolute;
  right: 3em;
  top: 2em;
}
.kimage__preview,
.kvideo__preview,
.kaudio__preview,
.kflash__preview,
.kflipbook__preview{
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  max-height: 30em;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.kimage__preview,
.kflash__preview,
.kflipbook__preview {
  width: 66%;
}

.kimage__preview {
  > img {
    border: 0 solid #000;
    box-sizing: content-box;
  }
}

.filtre {
  float: right;
  margin: 0 0 1em;
}

.kmultiselect-ltl, .kmultiselect-ttl {
  vertical-align: top;
  width: 40em;
  .parent-list-label {
    max-width: 80%;
  }
  .composition-list-label {
    max-width: 70% !important;
  }
}

.kmultiselect-ttl {
  .k-multiselect-composition {
    width: 100%;
  }
}

.retrait {
  margin-left: 11em;
}

// [UGLY] : bug sur le datatable -> casse l'auto-complétion si on joue avec le "sDom"
[data-panel="internal-fiche"] .dataTables_wrapper {
  > .fg-toolbar:first-child {
    display: none;
  }
}

.section-choice--width {
  max-width: 15em;
}