@charset "utf-8";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/reset";
@import "compass/utilities/general/hacks";
@import "compass/utilities/general/clearfix";
@import "base";
@import "clearfix";
@import "layout-variables";
@import "grille";
@import "modules";
@import "motifs";
@import "bootstrap";
@import "layout";
@import "toolbox";
@import "components";
@import "jquery.dataTables.scss";
@import "jquery.dataTables_themeroller.scss";

// SPECIAL DEBUG ! =====================================

// pour cibler tous les inputs qui n'auraient pas d'id
// input,
// select,
// textarea {
//     &:not([id]):not([type=button]):not([type=submit]):not([type=reset]) {
//         background: yellow;
//         outline: 2px dotted red;
//     }
// }

// label:not([for]) {
//     background: yellow;
//     outline: 2px dotted chartreuse;
// }

// input {
//     outline: 0;
// }

// Mise en page grands blocs =============================

body {
    background: #e5e5e5 url(img/fond.png);

}

#page {
    margin: 0 auto;
}

#header {
    background: #fff;
    margin: 0;
    min-height: 6.5em;
    position: relative;
    z-index: 50;
    a,
    span {
        color: $dominante;
        text-decoration: none;
    }
}

#header_deco {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 100em;
}

#fonctionnalites {
    font-weight: 700;
    > li {
        @extend %kosmos-inline-block;
        position: relative;
        > a {
            background: no-repeat 50% -6.4em;
            cursor: default;
            display: block;
            padding: 4em 1em 1em;
            position: relative;
        }

        &:hover > a,
        > a:hover,
        > a:focus,
        &.focus > a {
            background-color: rgba(255, 255, 255, .3);
            background-position: 50% 1.5em;
            &:after {
                border-bottom: 8px solid $dominante;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                bottom: 0;
                content: "";
                font-size: 0;
                left: 50%;
                line-height: 0;
                margin: 0 0 0 -10px;
                position: absolute;
                width: 0;
            }
        }

        // &[class]:hover > a:after{
        //     border-bottom-color: $dominante;
        //     display: none;
        // }

        &[class]:hover > a:after {
            border-top: 8px solid #fff;
            border-bottom: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: -8px;
            content: "";
            font-size: 0;
            left: 50%;
            line-height: 0;
            margin: 0 0 0 -10px;
            position: absolute;
            width: 0;
            z-index: 10000;
        }

        &[class]:hover > a:before {
            border-top: 8px solid $dominante;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: -12px;
            content: "";
            font-size: 0;
            left: 50%;
            line-height: 0;
            margin: 0 0 0 -10px;
            position: absolute;
            width: 0;
            z-index: 10000;
        }

        &#menuAccueil {
            > a:first-child {
                background-image: url(img/fonct/menuAccueil.png);
                cursor: pointer;
            }
            &:hover > a:after {
                display: none;
            }
        }
        &#menuContenu > a:first-child {
            background-image: url(img/fonct/menuContenu.png);
        }
        &#menuGestionEditoriale > a:first-child {
            background-image: url(img/fonct/menuGestionEditoriale.png);
        }
        &#menuModule > a:first-child {
            background-image: url(img/fonct/menuModule.png);
        }
        &#menuAdministration > a:first-child {
            background-image: url(img/fonct/menuAdministration.png);
        }
        &#supervisionMenu > a:first-child {
            background-image: url(img/fonct/supervisionMenu.png);
        }
        &#menuAPropos > a:first-child {
            background-image: url(img/fonct/menuAPropos.png);
        }
        &#menuGestionSite > a:first-child {
            background-image: url(img/fonct/menuGestionSite.png);
        }
        ul {
            @include box-shadow(rgba(0, 0, 0, 0.3) 4px 4px 0);
            background: #fff;
            border-top: 4px solid $dominante;
            display: none;
            left: 0;
            min-width: 20em;
            padding: 1em;
            position: absolute;
            top: 6.5em;
            li {
                a {
                    border-top: 1px solid #eee;
                    color: $dominante;
                    display: block;
                    padding: .25em 1em;
                    &:hover {
                        // background: #ddd;
                        background: $dominante;
                        color: #fff;
                    }
                }
                &:first-child a {
                    border: 0;
                }
                &.focus a {
                    background: $dominante;
                    color: #fff;
                }
            }
        }
        &:hover ul
            /* a:focus + ul */
        {
            display: block;
        }
    }
}

#utilisateur {
    color: $dominante;
    position: absolute;
    right: 0;
    top: 0;
    > button {
        background: #fff url(img/utilisateur.png) no-repeat 100% 25%;
        color: $dominante;
        cursor: pointer;
        text-align: right;
        padding: 0 .25em;
        padding: .5em 3.5em 1em 0;
    }
    li {
        padding: .25em 1em;
        border-top: 1px solid #eee;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    .dropdown-menu {
        right: 0;
        left: auto;
        &:before {
            border-bottom-color: #ccc;
        }
    }
}

// ==========================================

#entete {
    @include box-shadow(0 -5px 5px rgba(0, 0, 0, 0.1) inset);
    background: rgba(255, 255, 255, .5);
    background: $dominante;
    color: #fff;
    margin: 0 0 2.5em;
    padding: .5em 0;

    > div {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1em 0;
        width: 100%;
        position: relative;
        max-width: 100em;
    }

    h1 {
        max-width: 40%;
        text-indent: .75em;
        // a {
        //     background: $dominante url(img/accueil_niv2.png) no-repeat .5em 50%;
        //     color: #fff;
        //     font-size: .66667em;
        //     font-weight: 700;
        //     padding: .5em .75em .5em 2em;
        //     text-decoration: none;
        //     &:hover {
        //         outline: 2px solid;
        //     }
        // }
        a {
            border-bottom: 1px dotted;
            &:hover {
                border: 0;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

}

// ==========================================

#titre_ecran {
    @include box-shadow(0 -2px 4px rgba(0, 0, 0, .1));
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    // border-bottom: .3em solid rgba(0, 0, 0, 0.11);
    margin: 0 auto;
    max-width: 98em;
    min-height: 2.25em;
    padding: .75em 1em 0;
    position: relative;
    width: 100%;

    .message {
        margin: 1em 0 0;
    }
}

// ==========================================

#actions_composant {
    background: #e5e5e5 url(img/fond.png);
    font-weight: 700;
    font-size: 1.0833333333em;
    // min-height: 3em;
    max-width: 60%;
    float: right;
    margin: 0;
    padding: 1.1em 0 0;
    display: inline-block;
    position: relative;
    top: 1em;
    &:before {
        content: "";
        width: 0;
        z-index: -10;

        border-right: 31px solid transparent;
        border-top: 31px solid $dominante;
        font-size: 0;
        line-height: 0;
    }

    &:after {
        content: "";
        width: 0;
        z-index: -10;

        border-left: 31px solid transparent;
        border-top: 31px solid $dominante;
        font-size: 0;
        line-height: 0;
    }
    a {
        @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
        background-color: #fff;
        background: rgba(255, 255, 255, 1) no-repeat .5em 50%;
        color: $dominante - #333333;
        padding: .46154em .46154em .46154em 2.23077em;
        &:hover {
            color: #fff;
            background-color: $dominante;
        }
    }
    > li {
        display: inline-block;
        margin: 0 0 0 1em;
        &:first-child {
            margin: 0;
        }
        &.ajouter a {
            background-image: url(img/16x16/plus.png);
            &:hover {
                background-image: url(img/16x16/negatif/plus.png);
            }
        }

        &.rechercher a,
        &.modifier a,
        &.recherche_avancee a {
            background-image: url(img/16x16/rechercher.png);
            &:hover {
                background-image: url(img/16x16/negatif/rechercher.png);
            }
        }

        // &.modifier a {
        //     background-image: url(img/16x16/negatif/modifier.png);
        //     &:hover {
        //         background-image: url(img/16x16/modifier.png);
        //     }
        // }

        &.supprimer a {
            background-image: url(img/16x16/supprimer.png);
            &:hover {
                background-image: url(img/16x16/negatif/supprimer.png);
            }
        }

        &.envoyer a {
            background-image: url(img/16x16/envoyer.png);
            &:hover {
                background-image: url(img/16x16/negatif/envoyer.png);
            }
        }

        &.recharger a {
            background-image: url(img/16x16/recharger.png);
            &:hover {
                background-image: url(img/16x16/negatif/recharger.png);
            }
        }

        &.restaurer a {
            background-image: url(img/16x16/restaurer.png);
            &:hover {
                background-image: url(img/16x16/negatif/restaurer.png);
            }
        }

        &.telecharger a {
            background-image: url(img/16x16/telecharger.png);
            &:hover {
                background-image: url(img/16x16/negatif/telecharger.png);
            }
        }

        &.importer a {
            background-image: url(img/16x16/importer.png);
            &:hover {
                background-image: url(img/16x16/negatif/importer.png);
            }
        }

        &.exporter a {
            background-image: url(img/16x16/exporter.png);
            &:hover {
                background-image: url(img/16x16/negatif/exporter.png);
            }
        }

        &.traduire a {
            background-image: url(img/16x16/traduire.png);
            &:hover {
                background-image: url(img/16x16/negatif/traduire.png);
            }
        }

        &.planifier a {
            background-image: url(img/16x16/planifier.png);
            &:hover {
                background-image: url(img/16x16/negatif/planifier.png);
            }
        }

        &.suivre a {
            background-image: url(img/16x16/suivre.png);
            &:hover {
                background-image: url(img/16x16/negatif/suivre.png);
            }
        }

        &.refuser a {
            background-image: url(img/16x16/refuser.png);
            &:hover {
                background-image: url(img/16x16/negatif/refuser.png);
            }
        }

        &.parametrer a {
            background-image: url(img/16x16/parametrer.png);
            &:hover {
                background-image: url(img/16x16/negatif/parametrer.png);
            }
        }
    }
}

// ==========================================

#titre_ecran {
    &.sticky {
        box-sizing: border-box;
        height: 2.5rem;
        max-width: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;

        h2 {
            border-bottom: 0;
            display: block;
            font-size: 1em;
            line-height: 1.5;
            margin: 0 auto;
            max-width: 72rem;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
                opacity: 0.38;
            }
        }

        #messageApplicatif {
            display: none;
        }
    }
}

#actions,
.actions {
    @include box-shadow(0 2px 4px rgba(0, 0, 0, .1));
    background: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 98em;
    padding: 1.5em 1em;
    width: 100%;

    &.sticky {
        @include box-shadow(0 2px 4px rgba(0, 0, 0, .5));
        box-sizing: border-box;
        height: 2.5rem;
        max-width: 100%;
        padding: 0.75em 0;
        position: fixed;
        top: 3em;
        width: 100%;
        z-index: 10000;
        > div {
            padding: 0 1em;
        }
    }

    > div {
        box-sizing: border-box;
        margin: auto;
        max-width: 100%;
        position: relative;
        width: 98em;
        > ul {
            display: inline-block;
            float: right;
            font-weight: 700;
            > li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 0 0 .75em;

                > input {
                    background: none;
                    color: #000;
                    margin: -.25em -.5em -.25em -2em;
                    padding: .25em .5em .25em 2em;
                }
            }
        }
    }

    #epingle {
        @include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
        @include border-radius(10em);
        background: #fff;
        bottom: -1em;
        cursor: pointer;
        display: none;
        font-size: 1.8em;
        font-weight: 700;
        opacity: 0;
        position: absolute;
        right: -0.8em;
        text-align: center;
        width: 1.5em;
    }
}

.menu_sauts {
    background: #f1f1f1;
    border: 2px solid #ededed;
    float: right;
    margin-right: -20em;
    margin-top: -0.5em;
    padding: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 6em;
    width: 17em;
}

.menu_sauts__list__submenu {
    margin-left: 2em;
}

.menu_sauts__title {
    border-bottom: 0;
    margin-bottom: 0.75em;
}

.menu_sauts__list__item a {
    color: $dominante;
    display: block;
    font-weight: bold;
    line-height: 1;
    padding: 0.5em 1em;
    text-decoration: none;
}

.menu_sauts__list__submenu li a {
    font-weight: normal;
    padding: 0.25em 1em;
}

.menu_sauts__list__item a:hover {
    background-color: $dominante;
    color: #ffffff;
}

a.cible_saut:target {
    display: block;
    height: 8rem; /* fixed header height*/
    margin-top: -8rem; /* negative fixed header height */
    visibility: hidden;
}

// ====================================================

.resume {
    display: inline-block;
    vertical-align: top;
    margin: .15em 0;
    // max-width: 50%;
    > div {
        // padding: .5em;
        margin: 0 .5em 0 0;
        padding: 0;
        display: inline-block;
        > span {
            vertical-align: text-top;
        }
    }

    img {
        margin: 0 0.5em 0 0;
        vertical-align: middle;
    }

    .btn {
        img {
            margin: 0;
            vertical-align: middle;
        }
    }

    .dropdown > strong {
        text-transform: capitalize;
    }

    .dropdown-menu {
        min-width: 0px;
        padding: 1em;
        strong {
            display: block;
            margin: 0 0 .25em;
            white-space: nowrap;
        }
        > ul > li:first-child + li {
            border-top: 2px solid #ddd;
            padding: 1em 0 0;
            margin: 1em 0 0;
        }
        a {
            text-decoration: none;
            text-transform: capitalize;
            white-space: nowrap;
        }
        button {
            padding: 0;
            color: $couleur3;
            font-weight: 500;
            text-transform: capitalize;
            white-space: nowrap;
        }
        a,
        button {
            &:hover {
                background: none;
                text-decoration: underline;
            }
        }
    }
}

.restaurer.button {
    border: 0;

    .dropdown-menu {
        min-width: 180px;
    }
}

// ==========================================

#content {
    @include box-shadow(0 0 4px rgba(0, 0, 0, .1));
    @include pie-clearfix;
    background: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 98em;
    min-height: 26em;
    // overflow: hidden;
    padding: 1.5em 1em;
    width: 100%;
    a:focus {
        background-color: $dominante;
        color: #fff;
        text-decoration: none;
    }
    #saisie_objet &.has-menu-sauts {
        padding: 1.5em 21em 1.5em 1em;

        .kmultiselect-ttl,
        .kmultiselect-ltl {
            width: 58em;
        }
    }
}

#fil_ariane {
    color: #888;
    font-weight: 700;
    margin: 1em 0;
}

// les menus dans le centre de page pour le fallback de navigation
.menu_courant > li {
    list-style: disc inside;
    margin-left: 1em;
    padding: 0 0 0.25em;
}

.pagination {
    margin: 2em 0;
    text-align: center;
    a,
    em {
        background: #eee;
        color: $dominante;
        display: inline-block;
        line-height: 2em;
        margin: 0 .125em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        min-width: 3em;
        &:hover {
            background: $dominante;
            color: #fff;
        }
        img {
            vertical-align: middle;
        }
    }
}

// Ecran de connexion ====================================

.login {
    background-image: url(img/rosace.png);
    background-repeat: no-repeat;
    background-position: 122% -210px;

    #page,
    #footer {
        margin: 0 auto;
        max-width: 40em;
    }

    #header {
        background-color: $dominante;
        @extend #login !optional;
        > div {
            width: 40em;
        }
    }

    nav {
        width: 44em;
    }

    #logo {
        position: absolute;
        top: 1em;
        left: 0;
        width: 13.917em;
    }

    #entete {
        background: transparent;
        @include box-shadow(none);
    }

    h1 {
        visibility: hidden;
    }

    #content {
        min-height: 0;
        margin: 0 0 1.5em;

        form {
            padding: 1em 0;
        }

        fieldset {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 2em 1em 0;
        }

        legend {
            // color: $dominante;
        }

        label {
            display: inline-block;
            width: 12em;
        }

        input[type="text"],
        input[type="password"] {
            width: 22.8em;
        }

        input[type="submit"] {
            margin: 1em 0 0 12.3em;
        }
    }

    .validation {
        padding-left: 0;
    }

    #haut_page {
        display: none;
    }
}

// Ecran d'accueil ====================================

#content.accueil {
    > div {
        // background: #f9f9f9;
        float: left;
        margin: 0 .5em 1.5em;
        min-height: 27em;
        position: relative;
        width: 47em;
        // &:hover h3 {
        //     border-color: darkorange;
        // }
        > div {
            margin: 0 1em;
        }

    }

    h3 {
        @extend .cartouche;
        background-color: $complementaire;
        &:after {
            border-color: $complementaire #fff #fff;
            display: none;
        }
    }

    form {

        .colonne {
            min-width: 7em;
            vertical-align: sub;
        }

        input[type="text"] {
            width: 25em;
            min-height: 2em;
        }

        .retrait {
            margin-left: 7em;
        }

        .validation {
            border: 0;
            margin: 2.5em 0 0;
            padding: 0 0 0 7em;
        }
    }

    #nouvelle_fiche {
        margin: 0 0 1em;
        position: relative;
        z-index: 10;
        &:hover ul {
            display: block;
        }
        ul {
            @include box-shadow(rgba(0, 0, 0, 0.3) 4px 4px 3px);
            background: #fff;
            border: 1px solid #ccc;
            display: none;
            left: 0;
            position: absolute;
            top: 1.7em;
            li:first-child a {
                border: 0;
            }
            a {
                border-top: 1px solid #eee;
                text-decoration: none;
                padding: .25em 1em;
                display: block;
                &:hover {
                    background: #eee;
                }
            }
        }
    }

    // #gestion_contribution {
    //     .button {
    //         min-width: 9em;
    //     }
    // }

    #fiche_a_valider {
        float: right;
        overflow: auto;
        width: 50%;
        h4 {
            font-weight: 700;
            border-bottom: 2px solid;
            margin: 0 0 .5em;
            padding: 0 0 .5em;
        }
    }

    p.plus {
        margin: 1em 0;
        padding: .5em 0;
        border-top: 2px dotted #ccc;
    }

    .dropdown_deco {
        margin: 0 0 1.5em -1em;
    }

    .dropdown {
        display: inline-block;
        li {
            border-top: 1px solid #eee;
            &:first-child {
                border: 0;
            }
        }
    }
}

// Ecrans des encadrés =====================================

#perimetre li {
    margin-top: 0.5em;
}

// Ecrans des medias =======================================

.media_infos {
    display: inline-block;
    &.resource_controled {
        width: 55%;
        padding-left: 2.5em;
        border-left: 1px solid #e1e1e1;
    }
}

.media_description {
    border: 1px solid #e1e1e1;
}

form .fieldset > p.onglets_drapeau {
    margin-bottom: -1px;
    > a.drapeau {
        @include inline-block;
        text-decoration: none;
        padding: 5px 5px 0 5px;
        border: 1px solid #e1e1e1;
        vertical-align: bottom;
        &.active {
            padding: 10px 10px 0 10px;
            border-bottom: 1px solid #fff;
        }
    }
}

.apercu-photo-conteneur,
.apercu-video-conteneur {
    width: 39em;
    min-height: 26em;
    text-align: center;
    display: inline-block;
    img {
        @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 10px);
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #e0e0e0;
    }
}

.apercu-video-conteneur {
    > .apercu-video {
        max-width: 39em;
        line-height: 26em;
        width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
}

.apercu-photo-conteneur {
    > .apercu-photo {
        max-width: 26em;
        vertical-align: middle;
        display: inline-block;
    }
}

.apercu-fichier-conteneur {
    > .apercu-fichier {
        display: inline-block;
    }
}

.apercu-audio-conteneur {
    text-align: center;
    display: inline-block;
}

.details-media-conteneur {
    display: inline-block;
    vertical-align: top;
    margin: .5em 1em;
    .bouton {
        margin: .5em 0;
    }
    object {
        @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 10px);
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #e0e0e0;
    }
}

.details-media {
    width: 100%;
}

.toolbox .media_apercu {
    & .apercu-photo-conteneur,
    .apercu-fichier-conteneur,
    .apercu-video-conteneur {
        width: 21em;
        min-height: 20.3333em;
    }
}

.media-list {
    text-align: center;
    .message {
        text-align: left;
    }
}

.media_apercu {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    img {
        max-width: 100%;
    }
    & .details-media-conteneur {
        margin: .5em 0;
    }
}

.js .media-gallery {
    img {
        cursor: pointer;
    }
}

.media_source {
    border-bottom: 1px solid #e1e1e1;
    padding: 1em 0;
}

.media {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 4px);
    display: inline-block;
    width: 16.667em;
    height: 16.667em;
    padding: 0.833em;
    margin: 0.333em;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    position: relative;
    &.insertion, &.selection {
        height: 13.8em;
    }
    & .content-wrapper {
        display: table;
        width: 16.667em;
        height: 9.833em;
        table-layout: fixed;
        & .apercu-conteneur {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            background: #e0e0e0;
            & img {
                display: inline-block;
                max-width: 100%;
                max-height: 9.4em;
            }
            &.clickable:hover {
                cursor: pointer;
                outline: 2px solid #0091B5;
            }
        }
    }
    & .description {
        display: inline-block;
        width: 100%;
        text-align: center;
        word-wrap: break-word;
        margin: .5em 0;
        line-height: 2em;
    }

    & .actions {
        position: absolute;
        width: 16.333em;
        text-align: center;
        left: 0;
        bottom: 0;
        padding: .5em 1em 1em;
    }
}

.media_pagination {
    > .bouton {
        display: inline-block;
        margin: 1em;
    }
    > .bouton.prev {
        margin: 1em .45em;
        float: left;
    }
    > .bouton.next {
        float: right;
    }
}

.liste-fichier {
    display: inline-block;
    margin: 0 0 1.5em;
    vertical-align: top;
    > input[type="input"] {
        margin: 0 .5em 0 0;
    }
    td {
        // padding: 0;
        vertical-align: middle;
        > input[type="button"] {
            padding: .39em;
        }
    }
}

.media_vignette_input {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    img {
        max-width: 100%;
    }
}

// Ecran des extensions ====================================

.outils_contenu {
    li {
        border-top: 2px dotted #ccc;
        height: 6em;
        margin: 0;
        overflow: hidden;
        padding: .5em;
        &:first-child {
            border: 0;
        }
        &.inactif {
            background: #eee url(img/rayures25pourcent.png);
        }

        .extension {
            > div {
                display: inline-block;
                vertical-align: top;
            }
            .icon {
                margin: 0 .5em 0 0;
                max-height: 64px;
                max-width: 64px;
            }
            .infos {
                max-width: 48em;
                p {
                    &:first-child {
                        font: {
                            family: inherit;
                            weight: 700;
                            size: 1.16667em;
                        }
                        span {
                            font: {
                                weight: 500;
                                size: 1em;
                            }
                        }
                        color: #000;
                    }
                    font: {
                        family: inherit;
                        size: 1em;
                    }
                    a {
                        img {
                            vertical-align: text-bottom;
                        }
                    }
                    color: #909090;
                }
            }
            .extension_description {
                display: block;
                min-height: 3em;
            }

            .extension_actions {
                float: right;
                margin: 0.3em 0em 0em 0em;
                > div {
                    display: inline-block;
                    vertical-align: top;
                    float: right;
                    margin: 0em 0.2em 0em 0em;
                }
                > a {
                    display: inline-block;
                    float: right;
                    clear: right;
                    margin: 2.2em 0em 0em 0em;
                }
                .disabled {
                    @include opacity(0.6);
                }
                // .button{
                //     line-height: 1.45em;
                // }
            }
        }

        .extension-modules {
            margin: 0;
            padding: 0 0 0 70px;
            ul {
                margin: 0;
                padding: 0;
            }

            li {
                border-top: 2px dotted #ddd;
                height: auto;
                padding: .5em;
                margin: 0;
                &:first-child {
                    border: 0;
                }
                &:hover {
                    background: #f9f9f9;
                }
                .infos {
                    display: inline-block;
                    p {
                        &:first-child {
                            color: #000;
                        }
                        font: {
                            family: inherit;
                            size: 1em;
                        }
                        a {
                            img {
                                vertical-align: text-bottom;
                            }
                        }
                        color: #909090;
                    }
                }
                .extension_actions {
                    display: inline-block;
                    float: right;
                    .disabled {
                        @include opacity(0.5);
                    }
                }
                .extension_description {
                    display: block;
                    min-height: 3em;
                }
            }
        }
    }
}

.kLoader {
    text-align: center;
    p {
        background: #eeeeee;
        display: inline-block;
        border: none;
        vertical-align: middle;
        margin: 1em 0 0 1em;
        padding: 0;
        width: 75%;
        text-align: left;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        margin: 1em 0 0 0;
    }
}

// ==========================================

// Ecran des roles ====================================
li.rights_wrapper {
    border-top: 2px dotted #ccc;
    height: 6em;
    margin: 0;
    overflow: hidden;
    padding: .5em;
    &:first-child {
        border: 0;
    }
    &.inactif {
        background: #eee url(img/rayures25pourcent.png);
    }

    .title {
        font-family: inherit;
        font-weight: 700;
        font-size: 1.16667em;
        color: #000;
    }

    .infos {
        @include inline-block();
        vertical-align: top;
    }

    .rights_action {
        float: right;
        margin: .3em 0 0 0;
    }

    .rights {
        margin: 1em 0;
        padding: 0 0 0 5.5em;
        .roles_table {
            margin: 1em 0;
            thead {
                tr {
                    th {
                        text-align: center;
                        border-right: 1px solid #ccc;
                        vertival-align: middle;
                        max-width: 90px;
                        &:first-child {
                            border-bottom: none;
                        }
                    }
                    background: transparent;
                }
            }
            tbody {
                tr {
                    td {
                        vertical-align: middle;
                        text-align: center;
                        border-right: 2px solid #fff;
                        &:first-child {
                            width: 168px;
                            max-width: 168px;
                            text-align: left;
                        }
                    }

                    &:hover {
                        td {
                            background-color: #0093b5;
                            cursor: pointer;
                            &:first-child {
                                color: #fff;
                                background-color: #004c5e;
                                position: relative;
                                &:hover {
                                    background-color: #004c5e;
                                }
                            }
                            &:hover {
                                background-color: #00657c;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: moz-none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                }
            }
            thead + tbody {
                tr {
                    &:first-child {
                        td:first-child {
                            border-top: 2px solid #999;
                        }
                    }
                    td {
                        text-align: center;
                        border-right: 1px solid #e1e1e1;
                        padding: .5em 0;
                        &:first-child {
                            text-align: left;
                        }
                    }

                }
                input[type="checkbox"] {
                    margin: 0 40%;
                    vertical-align: middle;
                }
            }
        }
    }

    .rights_action {
        float: right;
        margin: 0.3em 0em 0em 0em;
        > div {
            display: inline-block;
            vertical-align: top;
            float: right;
            margin: 0em 0.2em 0em 0em;
        }
        > a {
            display: inline-block;
            float: right;
            clear: right;
            margin: 2.2em 0em 0em 0em;
        }
    }
}

#perimetre {
    background: #f1f1f1;
    border: 2px solid #ededed;
    margin: 0 0 1.5em;
    padding: 2em 1em 1em;
}

// ==========================================

// Ecran des demandes de création de compte en front ====================================

.userfront__tech-info--firstBlock {
    margin-bottom: 1.5em;
}

// ==========================================

.infobulle {
    background: url('/adminsite/images/help.png') 50% 50%;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    vertical-align: text-bottom;
    cursor: default;
}

#footer {
    // background: rgba(#000, .05);
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 98em;
    padding: 1em;
    position: relative;
    width: 100%;
}

#haut_page {
    background: url("img/haut_page.png") no-repeat 0 50%;
    bottom: 2em;
    color: $dominante;
    font-weight: 700;
    display: inline-block;
    min-height: 2.5em;
    min-width: 2.5em;
    opacity: 0;
    position: fixed;
    right: 5%;
    text-decoration: none;
    z-index: 100;
    span {
        display: none;
    }
}

// Tableau de mise en page ===================

.mise_en_page {
    // background: orange;
    // width: 100%;
    tr {
        background: transparent;
    }
}

// Tableau de mise en page ===================

table[id^="inner-fichier"] {
    margin: 0;
    td {
        padding: .5em 1em .5em 0;
    }
}

// Tableaux de résultats =====================

.resultat {
    margin: 0 0 2em;
    width: 100%;
    img {
        vertical-align: middle;
    }
    &.fiches {
        th {  
            &.intitule {
                width: 450px;
            }
            &.langue {
                width: 30px;
            }
            &.etat {
                width: 180px;
            }
        }
    }
}

.resultat__sous__rubrique {
    span {
        float: left;
        cursor: pointer;
        margin-right: 2em;
    }
    div {
        float: left;
        &.resultat__fhaut, &.resultat__fbas {
            width: 7%;
            height: 1.7em;
        } 
        &.resultat__rubrique__intitule {
            width: 20%;
        }
        &.resultat__rubrique__page {
            width: 63%;
        }
    }
    li {
        clear: both;
        min-height: 1.7em;
        padding: 0.8em;
        &:nth-child(even) {
            background: #f5f5f5;
        }
    }
    margin: 0 0 2em;
}

// Liste d'options
.options {
    display: inline;
    > ul {
        display: inline-block;
        margin: 0 0 1.5em;
    }
}
