<script src="/adminsite/fcktoolbox/fckeditor/editor/dialog/common/fck_dialog_common.js" type="text/javascript"></script>
<script src="/adminsite/fcktoolbox/kosmos/plugins/k_image/js/fck_image.js" type="text/javascript"></script>
<script type="text/javascript">
document.write( FCKTools.GetStyleHtml( GetCommonDialogCss() ) ) ;
</script>
<div id="divInfo">	
	<input id="txtAlt" style="width: 100%" type="hidden" value="" />
	<input id="txtTitle" style="width: 100%" type="hidden" value="" />
	<br />
	<table cellspacing="1" cellpadding="1" border="0" width="100%" height="100%">
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" border="0">
					<tr>
						<td width="100%">
							<span fcklang="DlgImgURL">URL</span>
						</td>
						<td id="tdBrowse" style="display: none" nowrap="nowrap" rowspan="2">
							&nbsp;
							<input id="btnBrowse" onclick="basculeOngletsDispos();" type="button" value="Modifier la ressource" />
						</td>
					</tr>
					<tr>
						<td valign="top">
							<input id="txtUrl" style="width: 100%" type="text" onblur="UpdatePreview();" disabled="disabled"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr height="100%">
			<td valign="top">
				<table cellspacing="0" cellpadding="0" width="100%" border="0" height="100%">
					<tr>
						<td valign="top">
							<br />
							<table cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgWidth">Width</span>&nbsp;</td>
									<td>
										<input type="text" size="3" id="txtWidth" onkeyup="OnSizeChanged('Width',this.value);" /></td>
									<td rowspan="2">
										<div id="btnLockSizes" class="BtnLocked" onmouseover="this.className = (bLockRatio ? 'BtnLocked' : 'BtnUnlocked' ) + ' BtnOver';"
											onmouseout="this.className = (bLockRatio ? 'BtnLocked' : 'BtnUnlocked' );" title="Lock Sizes"
											onclick="SwitchLock(this);">
										</div>
									</td>
									<td rowspan="2">
										<div id="btnResetSize" class="BtnReset" onmouseover="this.className='BtnReset BtnOver';"
											onmouseout="this.className='BtnReset';" title="Reset Size" onclick="ResetSizes();">
										</div>
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgHeight">Height</span>&nbsp;</td>
									<td>
										<input type="text" size="3" id="txtHeight" onkeyup="OnSizeChanged('Height',this.value);" /></td>
								</tr>
							</table>
							<br />
							<table cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgBorder">Border</span>&nbsp;</td>
									<td>
										<input type="text" size="2" value="" id="txtBorder" onkeyup="UpdatePreview();" /></td>
								</tr>
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgHSpace">HSpace</span>&nbsp;</td>
									<td>
										<input type="text" size="2" id="txtHSpace" onkeyup="UpdatePreview();" value="5" /></td>
								</tr>
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgVSpace">VSpace</span>&nbsp;</td>
									<td>
										<input type="text" size="2" id="txtVSpace" onkeyup="UpdatePreview();" /></td>
								</tr>
								<tr>
									<td nowrap="nowrap">
										<span fcklang="DlgImgAlign">Align</span>&nbsp;</td>
									<td>
										<select id="cmbAlign" onchange="UpdatePreview();">
											<option value="" selected="selected"></option>
											<option fcklang="DlgImgAlignLeft" value="left">Left</option>
											<option fcklang="DlgImgAlignRight" value="right">Right</option>
											<!--
											<option fcklang="DlgImgAlignAbsBottom" value="absBottom">Abs Bottom</option>
											<option fcklang="DlgImgAlignAbsMiddle" value="absMiddle">Abs Middle</option>
											<option fcklang="DlgImgAlignBaseline" value="baseline">Baseline</option>
											<option fcklang="DlgImgAlignBottom" value="bottom">Bottom</option>
											<option fcklang="DlgImgAlignMiddle" value="middle">Middle</option>
											<option fcklang="DlgImgAlignTextTop" value="textTop">Text Top</option>
											<option fcklang="DlgImgAlignTop" value="top">Top</option>
											-->
										</select>
									</td>
								</tr>
							</table>
						</td>
						<td>
							&nbsp;&nbsp;&nbsp;</td>
						<td width="100%" valign="top">
							<table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed">
								<tr>
									<td>
										<span fcklang="DlgImgPreview">Preview</span></td>
								</tr>
								<tr>
									<td valign="top">
										<iframe class="ImagePreviewArea" src="/adminsite/fcktoolbox/kosmos/plugins/k_image/fck_image_preview.html" frameborder="0"
											marginheight="0" marginwidth="0"></iframe>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div id="divLink" style="display: none">
	<table cellspacing="1" cellpadding="1" border="0" width="100%">
		<tr>
			<td>
				<div>
					<span fcklang="DlgLnkURL">URL</span><br />
					<input id="txtLnkUrl" style="width: 100%" type="text" onblur="UpdatePreview();" />
				</div>
				<div id="divLnkBrowseServer" align="right">
					<input type="button" value="Browse Server" fcklang="DlgBtnBrowseServer" onclick="LnkBrowseServer();" />
				</div>
				<div>
					<span fcklang="DlgLnkTarget">Target</span><br />
					<select id="cmbLnkTarget">
						<option value="" fcklang="DlgGenNotSet" selected="selected">&lt;not set&gt;</option>
						<option value="_blank" fcklang="DlgLnkTargetBlank">New Window (_blank)</option>
						<option value="_top" fcklang="DlgLnkTargetTop">Topmost Window (_top)</option>
						<option value="_self" fcklang="DlgLnkTargetSelf">Same Window (_self)</option>
						<option value="_parent" fcklang="DlgLnkTargetParent">Parent Window (_parent)</option>
					</select>
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="divAdvanced" style="display: none">
	<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
		<tr>
			<td valign="top" width="50%">
				<span fcklang="DlgGenId">Id</span><br />
				<input id="txtAttId" style="width: 100%" type="text" />
			</td>
			<td width="1">
				&nbsp;&nbsp;</td>
			<td valign="top">
				<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
					<tr>
						<td width="60%">
							<span fcklang="DlgGenLangDir">Language Direction</span><br />
							<select id="cmbAttLangDir" style="width: 100%">
								<option value="" fcklang="DlgGenNotSet" selected="selected">&lt;not set&gt;</option>
								<option value="ltr" fcklang="DlgGenLangDirLtr">Left to Right (LTR)</option>
								<option value="rtl" fcklang="DlgGenLangDirRtl">Right to Left (RTL)</option>
							</select>
						</td>
						<td width="1%">
							&nbsp;&nbsp;</td>
						<td nowrap="nowrap">
							<span fcklang="DlgGenLangCode">Language Code</span><br />
							<input id="txtAttLangCode" style="width: 100%" type="text" />&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">
				<span fcklang="DlgGenLongDescr">Long Description URL</span><br />
				<input id="txtAttLongDesc" style="width: 100%" type="text" />
			</td>
		</tr>
		<tr>
			<td colspan="3">
				&nbsp;</td>
		</tr>
		<tr>
			<td valign="top">
				<span fcklang="DlgGenClass">Stylesheet Classes</span><br />
				<input id="txtAttClasses" style="width: 100%" type="text" />
			</td>
			<td>
			</td>
			<td valign="top">
				&nbsp;<span fcklang="DlgGenTitle">Advisory Title</span><br />
				<input id="txtAttTitle" style="width: 100%" type="text" />
			</td>
		</tr>
	</table>
	<span fcklang="DlgGenStyle">Style</span><br />
	<input id="txtAttStyle" style="width: 100%" type="text" />
</div>
<script type="text/javascript">window_onload();</script>